<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\MsgGeopermissions;

class AccountsV1MessagingGeopermissionsApi extends BaseApi
{
    /**
     * Manage Geo Permissions for each country.
     *
     * @param array[] $permissions A list of objects where each object represents the Geo Permission
     *        to be updated. Each object contains the following fields: `country_code`, unique
     *        code for each country of Geo Permission; `type`, permission type of the Geo
     *        Permission i.e. country; `enabled`, configure true for enabling the Geo Permission,
     *        false for disabling the Geo Permission.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateMessagingGeopermissions(array $permissions): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/Messaging/GeoPermissions')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Permissions', $permissions)->required()
            );

        $_resHandler = $this->responseHandler()->type(MsgGeopermissions::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Manage Geo Permissions for each country.
     *
     * @param string|null $countryCode The country code to filter the geo permissions. If provided,
     *        only the geo permission for the specified country will be returned.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchMessagingGeopermissions(?string $countryCode = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Messaging/GeoPermissions')
            ->auth('accountSid_authToken')
            ->parameters(QueryParam::init('CountryCode', $countryCode));

        $_resHandler = $this->responseHandler()->type(MsgGeopermissions::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
