<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Safelist;

class AccountsV1SafelistApi extends BaseApi
{
    /**
     * Add a new phone number or phone number 1k prefix to SafeList.
     *
     * @param string $phoneNumber The phone number or phone number 1k prefix to be added in
     *        SafeList. Phone numbers must be in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164).
     *
     * @return ApiResponse Response from the API call
     */
    public function createSafelist(string $phoneNumber): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/SafeList/Numbers')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('PhoneNumber', $phoneNumber)->required()
            );

        $_resHandler = $this->responseHandler()->type(Safelist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Check if a phone number or phone number 1k prefix exists in SafeList.
     *
     * @param string|null $phoneNumber The phone number or phone number 1k prefix to be fetched from
     *        SafeList. Phone numbers must be in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164).
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchSafelist(?string $phoneNumber = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/SafeList/Numbers')
            ->auth('accountSid_authToken')
            ->parameters(QueryParam::init('PhoneNumber', $phoneNumber));

        $_resHandler = $this->responseHandler()->type(Safelist::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a phone number or phone number 1k prefix from SafeList.
     *
     * @param string|null $phoneNumber The phone number or phone number 1k prefix to be removed from
     *        SafeList. Phone numbers must be in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164).
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteSafelist(?string $phoneNumber = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/SafeList/Numbers')
            ->auth('accountSid_authToken')
            ->parameters(QueryParam::init('PhoneNumber', $phoneNumber));

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
