<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\BulkContacts;

class AccountsV1BulkContactsApi extends BaseApi
{
    /**
     * @param array[] $items A list of objects where each object represents a contact's details.
     *        Each object includes the following fields: `contact_id`, which must be a string
     *        representing phone number in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID that maps
     *        the response to the original request; `country_iso_code`, a string representing the
     *        country using the ISO format (e.g., US for the United States); and `zip_code`, a
     *        string representing the postal code.
     *
     * @return ApiResponse Response from the API call
     */
    public function createBulkContacts(array $items): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Contacts/Bulk')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Items', $items)->required()
            );

        $_resHandler = $this->responseHandler()->type(BulkContacts::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
