<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\CredentialPublicKey;
use TwilioApIsLib\Models\ListCredentialPublicKeyResponse;

class AccountsV1PublicKeyApi extends BaseApi
{
    /**
     * Retrieves a collection of Public Key Credentials belonging to the account used to make the request
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listCredentialPublicKey(
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials/PublicKeys')
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListCredentialPublicKeyResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new Public Key Credential
     *
     * @param string $publicKey A URL encoded representation of the public key. For example,
     *        `-----BEGIN PUBLIC KEY-----MIIBIjANB.pa9xQIDAQAB-----END PUBLIC KEY-----`
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     * @param string|null $accountSid The SID of the Subaccount that this Credential should be
     *        associated with. Must be a valid Subaccount of the account issuing the request
     *
     * @return ApiResponse Response from the API call
     */
    public function createCredentialPublicKey(
        string $publicKey,
        ?string $friendlyName = null,
        ?string $accountSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials/PublicKeys')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('PublicKey', $publicKey)->required(),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('AccountSid', $accountSid)
            );

        $_resHandler = $this->responseHandler()->type(CredentialPublicKey::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the public key specified by the provided Credential Sid
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the PublicKey resource
     *        to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchCredentialPublicKey(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials/PublicKeys/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(CredentialPublicKey::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Modify the properties of a given Account
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the PublicKey resource
     *        to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateCredentialPublicKey(string $sid, ?string $friendlyName = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials/PublicKeys/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)
            );

        $_resHandler = $this->responseHandler()->type(CredentialPublicKey::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a Credential from your account
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the PublicKey resource
     *        to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCredentialPublicKey(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Credentials/PublicKeys/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
