<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\CredentialAws;
use TwilioApIsLib\Models\ListCredentialAwsResponse;

class AccountsV1AwsApi extends BaseApi
{
    /**
     * Retrieves a collection of AWS Credentials belonging to the account used to make the request
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listCredentialAws(?int $pageSize = null, ?int $page = null, ?string $pageToken = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials/AWS')
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListCredentialAwsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new AWS Credential
     *
     * @param string $credentials A string that contains the AWS access credentials in the format
     *        `<AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>`. For example, `AKIAIOSFODNN7EXAMPLE:
     *        wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     * @param string|null $accountSid The SID of the Subaccount that this Credential should be
     *        associated with. Must be a valid Subaccount of the account issuing the request.
     *
     * @return ApiResponse Response from the API call
     */
    public function createCredentialAws(
        string $credentials,
        ?string $friendlyName = null,
        ?string $accountSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials/AWS')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Credentials', $credentials)->required(),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('AccountSid', $accountSid)
            );

        $_resHandler = $this->responseHandler()->type(CredentialAws::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the AWS credentials specified by the provided Credential Sid
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the AWS resource to
     *        fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchCredentialAws(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials/AWS/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(CredentialAws::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Modify the properties of a given Account
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the AWS resource to
     *        update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateCredentialAws(string $sid, ?string $friendlyName = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials/AWS/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)
            );

        $_resHandler = $this->responseHandler()->type(CredentialAws::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a Credential from your account
     *
     * @param string $sid The Twilio-provided string that uniquely identifies the AWS resource to
     *        delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCredentialAws(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Credentials/AWS/{Sid}')
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
