<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\BulkConsents;

class AccountsV1BulkConsentsApi extends BaseApi
{
    /**
     * @param array[] $items This is a list of objects that describes a contact's opt-in status.
     *        Each object contains the following fields: `contact_id`, which must be a string
     *        representing phone number in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164); `correlation_id`, a unique 32-character UUID used to
     *        uniquely map the request item with the response item; `sender_id`, which can be
     *        either a valid messaging service SID or a from phone number; `status`, a string
     *        representing the consent status. Can be one of [`opt-in`, `opt-out`]; `source`, a
     *        string indicating the medium through which the consent was collected. Can be one of
     *        [`website`, `offline`, `opt-in-message`, `opt-out-message`, `others`];
     *        `date_of_consent`, an optional datetime string field in ISO-8601 format that
     *        captures the exact date and time when the user gave or revoked consent. If not
     *        provided, it will be empty.
     *
     * @return ApiResponse Response from the API call
     */
    public function createBulkConsents(array $items): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Consents/Bulk')
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Items', $items)->required()
            );

        $_resHandler = $this->responseHandler()->type(BulkConsents::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
