<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\SecondaryAuthToken;

class AccountsV1SecondaryAuthTokenApi extends BaseApi
{
    /**
     * Create a new secondary Auth Token
     *
     * @return ApiResponse Response from the API call
     */
    public function createSecondaryAuthToken(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/AuthTokens/Secondary')
            ->auth('accountSid_authToken');

        $_resHandler = $this->responseHandler()->type(SecondaryAuthToken::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete the secondary Auth Token from your account
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteSecondaryAuthToken(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/AuthTokens/Secondary')
            ->auth('accountSid_authToken');

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
