<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Channel;
use TwilioApIsLib\Models\ChannelChannelType;
use TwilioApIsLib\Models\ChannelWebhookEnabledType;
use TwilioApIsLib\Server;

class ChatV3ChannelApi extends BaseApi
{
    /**
     * Update a specific Channel.
     *
     * @param string $serviceSid The unique SID identifier of the Service.
     * @param string $sid A 34 character string that uniquely identifies this Channel.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $type The visibility of the channel. Can be: `public` or `private`.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this channel
     *        belongs to.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateChannel(
        string $serviceSid,
        string $sid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $type = null,
        ?string $messagingServiceSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v3/Services/{ServiceSid}/Channels/{Sid}')
            ->server(Server::DEFAULT1)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('Type', $type)->serializeBy([ChannelChannelType::class, 'checkValue']),
                FormParam::init('MessagingServiceSid', $messagingServiceSid)
            );

        $_resHandler = $this->responseHandler()->type(Channel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
