<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListServiceBindingResponse;
use TwilioApIsLib\Models\ServiceBinding;
use TwilioApIsLib\Models\ServiceBindingBindingType;
use TwilioApIsLib\Server;

class ConversationsV1BindingApi extends BaseApi
{
    /**
     * Remove a push notification binding from the conversation service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete
     *        the Binding resource from.
     * @param string $sid The SID of the Binding resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceBinding(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{ChatServiceSid}/Bindings/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a push notification binding from the conversation service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding
     *        resource is associated with.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceBinding(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Bindings/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceBinding::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all push notification bindings in the conversation service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding
     *        resource is associated with.
     * @param string[]|null $bindingType The push technology used by the Binding resources to read.
     *        Can be: `apn`, `gcm`, `fcm`, or `twilsock`.  See [push notification
     *        configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for
     *        more info.
     * @param string[]|null $identity The identity of a [Conversation
     *        User](https://www.twilio.com/docs/conversations/api/user-resource) this binding
     *        belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-
     *        tokens) for more details.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 100.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceBinding(
        string $chatServiceSid,
        ?array $bindingType = null,
        ?array $identity = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Bindings')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                QueryParam::init('BindingType', $bindingType)
                    ->serializeBy([ServiceBindingBindingType::class, 'checkValue']),
                QueryParam::init('Identity', $identity),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceBindingResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
