<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListServiceUserConversationResponse;
use TwilioApIsLib\Models\ListUserConversationResponse;
use TwilioApIsLib\Models\ServiceUserConversation;
use TwilioApIsLib\Models\ServiceUserConversationNotificationLevel;
use TwilioApIsLib\Models\UserConversation;
use TwilioApIsLib\Models\UserConversationNotificationLevel;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class ConversationsV1UserConversationApi extends BaseApi
{
    /**
     * Update a specific User Conversation.
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     * @param string|null $notificationLevel The Notification Level of this User Conversation. One
     *        of `default` or `muted`.
     * @param \DateTime|null $lastReadTimestamp The date of the last message read in conversation by
     *        the user, given in ISO 8601 format.
     * @param int|null $lastReadMessageIndex The index of the last Message in the Conversation that
     *        the Participant has read.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceUserConversation(
        string $chatServiceSid,
        string $userSid,
        string $conversationSid,
        ?string $notificationLevel = null,
        ?\DateTime $lastReadTimestamp = null,
        ?int $lastReadMessageIndex = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('NotificationLevel', $notificationLevel)
                    ->serializeBy([ServiceUserConversationNotificationLevel::class, 'checkValue']),
                FormParam::init('LastReadTimestamp', $lastReadTimestamp)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('LastReadMessageIndex', $lastReadMessageIndex)
            );

        $_resHandler = $this->responseHandler()->type(ServiceUserConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a specific User Conversation.
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceUserConversation(
        string $chatServiceSid,
        string $userSid,
        string $conversationSid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a specific User Conversation.
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceUserConversation(
        string $chatServiceSid,
        string $userSid,
        string $conversationSid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceUserConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all User Conversations for the User.
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceUserConversation(
        string $chatServiceSid,
        string $userSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('UserSid', $userSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceUserConversationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update a specific User Conversation.
     *
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     * @param string|null $notificationLevel The Notification Level of this User Conversation. One
     *        of `default` or `muted`.
     * @param \DateTime|null $lastReadTimestamp The date of the last message read in conversation by
     *        the user, given in ISO 8601 format.
     * @param int|null $lastReadMessageIndex The index of the last Message in the Conversation that
     *        the Participant has read.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateUserConversation(
        string $userSid,
        string $conversationSid,
        ?string $notificationLevel = null,
        ?\DateTime $lastReadTimestamp = null,
        ?int $lastReadMessageIndex = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('NotificationLevel', $notificationLevel)
                    ->serializeBy([UserConversationNotificationLevel::class, 'checkValue']),
                FormParam::init('LastReadTimestamp', $lastReadTimestamp)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('LastReadMessageIndex', $lastReadMessageIndex)
            );

        $_resHandler = $this->responseHandler()->type(UserConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a specific User Conversation.
     *
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteUserConversation(string $userSid, string $conversationSid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a specific User Conversation.
     *
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param string $conversationSid The unique SID identifier of the Conversation. This value can
     *        be either the `sid` or the `unique_name` of the [Conversation resource](https://www.
     *        twilio.com/docs/conversations/api/conversation-resource).
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchUserConversation(string $userSid, string $conversationSid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Users/{UserSid}/Conversations/{ConversationSid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('UserSid', $userSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required()
            );

        $_resHandler = $this->responseHandler()->type(UserConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all User Conversations for the User.
     *
     * @param string $userSid The unique SID identifier of the [User
     *        resource](https://www.twilio.com/docs/conversations/api/user-resource). This value
     *        can be either the `sid` or the `identity` of the User resource.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listUserConversation(
        string $userSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Users/{UserSid}/Conversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('UserSid', $userSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListUserConversationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
