<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ConversationMessageReceipt;
use TwilioApIsLib\Models\ListConversationMessageReceiptResponse;
use TwilioApIsLib\Models\ListServiceConversationMessageReceiptResponse;
use TwilioApIsLib\Models\ServiceConversationMessageReceipt;
use TwilioApIsLib\Server;

class ConversationsV1DeliveryReceiptApi extends BaseApi
{
    /**
     * Fetch the delivery and read receipts of the conversation message
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this message.
     * @param string $messageSid The SID of the message within a
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        the delivery receipt belongs to.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConversationMessageReceipt(
        string $conversationSid,
        string $messageSid,
        string $sid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('MessageSid', $messageSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ConversationMessageReceipt::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all delivery and read receipts of the conversation message
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this message.
     * @param string $messageSid The SID of the message within a
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        the delivery receipt belongs to.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listConversationMessageReceipt(
        string $conversationSid,
        string $messageSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('MessageSid', $messageSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->type(ListConversationMessageReceiptResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the delivery and read receipts of the conversation message
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message
     *        resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this message.
     * @param string $messageSid The SID of the message within a
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        the delivery receipt belongs to.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceConversationMessageReceipt(
        string $chatServiceSid,
        string $conversationSid,
        string $messageSid,
        string $sid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid' .
            '}/Receipts/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('MessageSid', $messageSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversationMessageReceipt::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all delivery and read receipts of the conversation message
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message
     *        resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this message.
     * @param string $messageSid The SID of the message within a
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        the delivery receipt belongs to.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceConversationMessageReceipt(
        string $chatServiceSid,
        string $conversationSid,
        string $messageSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('MessageSid', $messageSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->type(ListServiceConversationMessageReceiptResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
