<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ConfigurationWebhook;
use TwilioApIsLib\Models\ConfigurationWebhookTarget;
use TwilioApIsLib\Models\ConversationScopedWebhook;
use TwilioApIsLib\Models\ConversationScopedWebhookMethod;
use TwilioApIsLib\Models\ConversationScopedWebhookTarget;
use TwilioApIsLib\Models\ListConversationScopedWebhookResponse;
use TwilioApIsLib\Models\ListServiceConversationScopedWebhookResponse;
use TwilioApIsLib\Models\ServiceConversationScopedWebhook;
use TwilioApIsLib\Models\ServiceConversationScopedWebhookMethod;
use TwilioApIsLib\Models\ServiceConversationScopedWebhookTarget;
use TwilioApIsLib\Models\ServiceWebhookConfiguration;
use TwilioApIsLib\Server;

class ConversationsV1WebhookApi extends BaseApi
{
    /**
     * A Webhook resource manages a service-level set of callback URLs and their configuration for
     * receiving all conversation events.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConfigurationWebhook(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Configuration/Webhooks')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken');

        $_resHandler = $this->responseHandler()->type(ConfigurationWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * A Webhook resource manages a service-level set of callback URLs and their configuration for
     * receiving all conversation events.
     *
     * @param string|null $method The HTTP method to be used when sending a webhook request.
     * @param string[]|null $filters The list of webhook event triggers that are enabled for this
     *        Service: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`, `onMessageAdd`,
     *        `onMessageUpdate`, `onMessageRemove`, `onConversationUpdated`,
     *        `onConversationRemoved`, `onConversationAdd`, `onConversationAdded`,
     *        `onConversationRemove`, `onConversationUpdate`, `onConversationStateUpdated`,
     *        `onParticipantAdded`, `onParticipantUpdated`, `onParticipantRemoved`,
     *        `onParticipantAdd`, `onParticipantRemove`, `onParticipantUpdate`,
     *        `onDeliveryUpdated`, `onUserAdded`, `onUserUpdate`, `onUserUpdated`
     * @param string|null $preWebhookUrl The absolute url the pre-event webhook request should be
     *        sent to.
     * @param string|null $postWebhookUrl The absolute url the post-event webhook request should be
     *        sent to.
     * @param string|null $target The routing target of the webhook. Can be ordinary or route
     *        internally to Flex
     *
     * @return ApiResponse Response from the API call
     */
    public function updateConfigurationWebhook(
        ?string $method = null,
        ?array $filters = null,
        ?string $preWebhookUrl = null,
        ?string $postWebhookUrl = null,
        ?string $target = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Configuration/Webhooks')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Method', $method),
                FormParam::init('Filters', $filters),
                FormParam::init('PreWebhookUrl', $preWebhookUrl),
                FormParam::init('PostWebhookUrl', $postWebhookUrl),
                FormParam::init('Target', $target)->serializeBy([ConfigurationWebhookTarget::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->type(ConfigurationWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all webhooks scoped to the conversation
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param int|null $pageSize How many resources to return in each list page. The default is 5,
     *        and the maximum is 5.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listConversationScopedWebhook(
        string $conversationSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Conversations/{ConversationSid}/Webhooks')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->type(ListConversationScopedWebhookResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new webhook scoped to the conversation
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $target The target of this webhook: `webhook`, `studio`, `trigger`
     * @param string|null $configurationUrl The absolute url the webhook request should be sent to.
     * @param string|null $configurationMethod
     * @param string[]|null $configurationFilters The list of events, firing webhook event for this
     *        Conversation.
     * @param string[]|null $configurationTriggers The list of keywords, firing webhook event for
     *        this Conversation.
     * @param string|null $configurationFlowSid The studio flow SID, where the webhook should be
     *        sent to.
     * @param int|null $configurationReplayAfter The message index for which and it's successors the
     *        webhook will be replayed. Not set by default
     *
     * @return ApiResponse Response from the API call
     */
    public function createConversationScopedWebhook(
        string $conversationSid,
        string $target,
        ?string $configurationUrl = null,
        ?string $configurationMethod = null,
        ?array $configurationFilters = null,
        ?array $configurationTriggers = null,
        ?string $configurationFlowSid = null,
        ?int $configurationReplayAfter = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Conversations/{ConversationSid}/Webhooks')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Target', $target)
                    ->required()
                    ->serializeBy([ConversationScopedWebhookTarget::class, 'checkValue']),
                FormParam::init('Configuration.Url', $configurationUrl),
                FormParam::init('Configuration.Method', $configurationMethod)
                    ->serializeBy([ConversationScopedWebhookMethod::class, 'checkValue']),
                FormParam::init('Configuration.Filters', $configurationFilters),
                FormParam::init('Configuration.Triggers', $configurationTriggers),
                FormParam::init('Configuration.FlowSid', $configurationFlowSid),
                FormParam::init('Configuration.ReplayAfter', $configurationReplayAfter)
            );

        $_resHandler = $this->responseHandler()->type(ConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the configuration of a conversation-scoped webhook
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConversationScopedWebhook(string $conversationSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation-scoped webhook
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     * @param string|null $configurationUrl The absolute url the webhook request should be sent to.
     * @param string|null $configurationMethod
     * @param string[]|null $configurationFilters The list of events, firing webhook event for this
     *        Conversation.
     * @param string[]|null $configurationTriggers The list of keywords, firing webhook event for
     *        this Conversation.
     * @param string|null $configurationFlowSid The studio flow SID, where the webhook should be
     *        sent to.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateConversationScopedWebhook(
        string $conversationSid,
        string $sid,
        ?string $configurationUrl = null,
        ?string $configurationMethod = null,
        ?array $configurationFilters = null,
        ?array $configurationTriggers = null,
        ?string $configurationFlowSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Configuration.Url', $configurationUrl),
                FormParam::init('Configuration.Method', $configurationMethod)
                    ->serializeBy([ConversationScopedWebhookMethod::class, 'checkValue']),
                FormParam::init('Configuration.Filters', $configurationFilters),
                FormParam::init('Configuration.Triggers', $configurationTriggers),
                FormParam::init('Configuration.FlowSid', $configurationFlowSid)
            );

        $_resHandler = $this->responseHandler()->type(ConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove an existing webhook scoped to the conversation
     *
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteConversationScopedWebhook(string $conversationSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new webhook scoped to the conversation in a specific service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $target The target of this webhook: `webhook`, `studio`, `trigger`
     * @param string|null $configurationUrl The absolute url the webhook request should be sent to.
     * @param string|null $configurationMethod
     * @param string[]|null $configurationFilters The list of events, firing webhook event for this
     *        Conversation.
     * @param string[]|null $configurationTriggers The list of keywords, firing webhook event for
     *        this Conversation.
     * @param string|null $configurationFlowSid The studio flow SID, where the webhook should be
     *        sent to.
     * @param int|null $configurationReplayAfter The message index for which and it's successors the
     *        webhook will be replayed. Not set by default
     *
     * @return ApiResponse Response from the API call
     */
    public function createServiceConversationScopedWebhook(
        string $chatServiceSid,
        string $conversationSid,
        string $target,
        ?string $configurationUrl = null,
        ?string $configurationMethod = null,
        ?array $configurationFilters = null,
        ?array $configurationTriggers = null,
        ?string $configurationFlowSid = null,
        ?int $configurationReplayAfter = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Target', $target)
                    ->required()
                    ->serializeBy([ServiceConversationScopedWebhookTarget::class, 'checkValue']),
                FormParam::init('Configuration.Url', $configurationUrl),
                FormParam::init('Configuration.Method', $configurationMethod)
                    ->serializeBy([ServiceConversationScopedWebhookMethod::class, 'checkValue']),
                FormParam::init('Configuration.Filters', $configurationFilters),
                FormParam::init('Configuration.Triggers', $configurationTriggers),
                FormParam::init('Configuration.FlowSid', $configurationFlowSid),
                FormParam::init('Configuration.ReplayAfter', $configurationReplayAfter)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all webhooks scoped to the conversation
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param int|null $pageSize How many resources to return in each list page. The default is 5,
     *        and the maximum is 5.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceConversationScopedWebhook(
        string $chatServiceSid,
        string $conversationSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->type(ListServiceConversationScopedWebhookResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation-scoped webhook
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     * @param string|null $configurationUrl The absolute url the webhook request should be sent to.
     * @param string|null $configurationMethod
     * @param string[]|null $configurationFilters The list of events, firing webhook event for this
     *        Conversation.
     * @param string[]|null $configurationTriggers The list of keywords, firing webhook event for
     *        this Conversation.
     * @param string|null $configurationFlowSid The studio flow SID, where the webhook should be
     *        sent to.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceConversationScopedWebhook(
        string $chatServiceSid,
        string $conversationSid,
        string $sid,
        ?string $configurationUrl = null,
        ?string $configurationMethod = null,
        ?array $configurationFilters = null,
        ?array $configurationTriggers = null,
        ?string $configurationFlowSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Configuration.Url', $configurationUrl),
                FormParam::init('Configuration.Method', $configurationMethod)
                    ->serializeBy([ServiceConversationScopedWebhookMethod::class, 'checkValue']),
                FormParam::init('Configuration.Filters', $configurationFilters),
                FormParam::init('Configuration.Triggers', $configurationTriggers),
                FormParam::init('Configuration.FlowSid', $configurationFlowSid)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove an existing webhook scoped to the conversation
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceConversationScopedWebhook(
        string $chatServiceSid,
        string $conversationSid,
        string $sid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the configuration of a conversation-scoped webhook
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant resource is associated with.
     * @param string $conversationSid The unique ID of the
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        for this webhook.
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceConversationScopedWebhook(
        string $chatServiceSid,
        string $conversationSid,
        string $sid
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('ConversationSid', $conversationSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversationScopedWebhook::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update a specific Webhook.
     *
     * @param string $chatServiceSid The unique ID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $preWebhookUrl The absolute url the pre-event webhook request should be
     *        sent to.
     * @param string|null $postWebhookUrl The absolute url the post-event webhook request should be
     *        sent to.
     * @param string[]|null $filters The list of events that your configured webhook targets will
     *        receive. Events not configured here will not fire. Possible values are
     *        `onParticipantAdd`, `onParticipantAdded`, `onDeliveryUpdated`,
     *        `onConversationUpdated`, `onConversationRemove`, `onParticipantRemove`,
     *        `onConversationUpdate`, `onMessageAdd`, `onMessageRemoved`, `onParticipantUpdated`,
     *        `onConversationAdded`, `onMessageAdded`, `onConversationAdd`,
     *        `onConversationRemoved`, `onParticipantUpdate`, `onMessageRemove`,
     *        `onMessageUpdated`, `onParticipantRemoved`, `onMessageUpdate` or
     *        `onConversationStateUpdated`.
     * @param string|null $method The HTTP method to be used when sending a webhook request. One of
     *        `GET` or `POST`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceWebhookConfiguration(
        string $chatServiceSid,
        ?string $preWebhookUrl = null,
        ?string $postWebhookUrl = null,
        ?array $filters = null,
        ?string $method = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Configuration/Webhooks'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('PreWebhookUrl', $preWebhookUrl),
                FormParam::init('PostWebhookUrl', $postWebhookUrl),
                FormParam::init('Filters', $filters),
                FormParam::init('Method', $method)
            );

        $_resHandler = $this->responseHandler()->type(ServiceWebhookConfiguration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a specific service webhook configuration.
     *
     * @param string $chatServiceSid The unique ID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) this
     *        conversation belongs to.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceWebhookConfiguration(string $chatServiceSid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Configuration/Webhooks'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('ChatServiceSid', $chatServiceSid)->required());

        $_resHandler = $this->responseHandler()->type(ServiceWebhookConfiguration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
