<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListRoleResponse;
use TwilioApIsLib\Models\ListServiceRoleResponse;
use TwilioApIsLib\Models\Role;
use TwilioApIsLib\Models\RoleRoleType;
use TwilioApIsLib\Models\ServiceRole;
use TwilioApIsLib\Models\ServiceRoleRoleType;
use TwilioApIsLib\Server;

class ConversationsV1RoleApi extends BaseApi
{
    /**
     * Create a new user role in your account's default service
     *
     * @param string $friendlyName A descriptive string that you create to describe the new
     *        resource. It can be up to 64 characters long.
     * @param string $type The type of role. Can be: `conversation` for
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        roles or `service` for [Conversation Service](https://www.twilio.
     *        com/docs/conversations/api/service-resource) roles.
     * @param string[] $permission A permission that you grant to the new role. Only one permission
     *        can be granted per parameter. To assign more than one permission, repeat this
     *        parameter for each permission value. The values for this parameter depend on the
     *        role's `type`.
     *
     * @return ApiResponse Response from the API call
     */
    public function createRole(string $friendlyName, string $type, array $permission): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Roles')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('Type', $type)->required()->serializeBy([RoleRoleType::class, 'checkValue']),
                FormParam::init('Permission', $permission)->required()
            );

        $_resHandler = $this->responseHandler()->type(Role::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all user roles in your account's default service
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listRole(?int $pageSize = null, ?int $page = null, ?string $pageToken = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Roles')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListRoleResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing user role in your account's default service
     *
     * @param string $sid The SID of the Role resource to update.
     * @param string[] $permission A permission that you grant to the role. Only one permission can
     *        be granted per parameter. To assign more than one permission, repeat this parameter
     *        for each permission value. Note that the update action replaces all previously
     *        assigned permissions with those defined in the update action. To remove a permission,
     *        do not include it in the subsequent update action. The values for this parameter
     *        depend on the role's `type`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateRole(string $sid, array $permission): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Permission', $permission)->required()
            );

        $_resHandler = $this->responseHandler()->type(Role::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a user role from your account's default service
     *
     * @param string $sid The SID of the Role resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteRole(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a user role from your account's default service
     *
     * @param string $sid The SID of the Role resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchRole(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Role::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new user role in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to create
     *        the Role resource under.
     * @param string $friendlyName A descriptive string that you create to describe the new
     *        resource. It can be up to 64 characters long.
     * @param string $type The type of role. Can be: `conversation` for
     *        [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource)
     *        roles or `service` for [Conversation Service](https://www.twilio.
     *        com/docs/conversations/api/service-resource) roles.
     * @param string[] $permission A permission that you grant to the new role. Only one permission
     *        can be granted per parameter. To assign more than one permission, repeat this
     *        parameter for each permission value. The values for this parameter depend on the
     *        role's `type`.
     *
     * @return ApiResponse Response from the API call
     */
    public function createServiceRole(
        string $chatServiceSid,
        string $friendlyName,
        string $type,
        array $permission
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Roles')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('Type', $type)->required()->serializeBy([ServiceRoleRoleType::class, 'checkValue']),
                FormParam::init('Permission', $permission)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceRole::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all user roles in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the
     *        Role resources from.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceRole(
        string $chatServiceSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Roles')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceRoleResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing user role in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to update
     *        the Role resource in.
     * @param string $sid The SID of the Role resource to update.
     * @param string[] $permission A permission that you grant to the role. Only one permission can
     *        be granted per parameter. To assign more than one permission, repeat this parameter
     *        for each permission value. Note that the update action replaces all previously
     *        assigned permissions with those defined in the update action. To remove a permission,
     *        do not include it in the subsequent update action. The values for this parameter
     *        depend on the role's `type`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceRole(string $chatServiceSid, string $sid, array $permission): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Permission', $permission)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceRole::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a user role from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete
     *        the Role resource from.
     * @param string $sid The SID of the Role resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceRole(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{ChatServiceSid}/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a user role from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch
     *        the Role resource from.
     * @param string $sid The SID of the Role resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceRole(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Roles/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceRole::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
