<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ConfigurationAddress;
use TwilioApIsLib\Models\ConfigurationAddressAutoCreationType;
use TwilioApIsLib\Models\ConfigurationAddressMethod;
use TwilioApIsLib\Models\ConfigurationAddressType;
use TwilioApIsLib\Models\ListConfigurationAddressResponse;
use TwilioApIsLib\Server;

class ConversationsV1AddressConfigurationApi extends BaseApi
{
    /**
     * Retrieve a list of address configurations for an account
     *
     * @param string|null $type Filter the address configurations by its type. This value can be one
     *        of: `whatsapp`, `sms`.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listConfigurationAddress(
        ?string $type = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Configuration/Addresses')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('Type', $type),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListConfigurationAddressResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new address configuration
     *
     * @param string $type Type of Address, value can be `whatsapp` or `sms`.
     * @param string $address The unique address to be configured. The address can be a whatsapp
     *        address or phone number
     * @param string|null $friendlyName The human-readable name of this configuration, limited to
     *        256 characters. Optional.
     * @param bool|null $autoCreationEnabled Enable/Disable auto-creating conversations for messages
     *        to this address
     * @param string|null $autoCreationType
     * @param string|null $autoCreationConversationServiceSid Conversation Service for the
     *        auto-created conversation. If not set, the conversation is created in the default
     *        service.
     * @param string|null $autoCreationWebhookUrl For type `webhook`, the url for the webhook
     *        request.
     * @param string|null $autoCreationWebhookMethod
     * @param string[]|null $autoCreationWebhookFilters The list of events, firing webhook event for
     *        this Conversation. Values can be any of the following: `onMessageAdded`,
     *        `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`,
     *        `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`,
     *        `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`
     * @param string|null $autoCreationStudioFlowSid For type `studio`, the studio flow SID where
     *        the webhook should be sent to.
     * @param int|null $autoCreationStudioRetryCount For type `studio`, number of times to retry the
     *        webhook request
     * @param string|null $addressCountry An ISO 3166-1 alpha-2n country code which the address
     *        belongs to. This is currently only applicable to short code addresses.
     *
     * @return ApiResponse Response from the API call
     */
    public function createConfigurationAddress(
        string $type,
        string $address,
        ?string $friendlyName = null,
        ?bool $autoCreationEnabled = null,
        ?string $autoCreationType = null,
        ?string $autoCreationConversationServiceSid = null,
        ?string $autoCreationWebhookUrl = null,
        ?string $autoCreationWebhookMethod = null,
        ?array $autoCreationWebhookFilters = null,
        ?string $autoCreationStudioFlowSid = null,
        ?int $autoCreationStudioRetryCount = null,
        ?string $addressCountry = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Configuration/Addresses')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Type', $type)
                    ->required()
                    ->serializeBy([ConfigurationAddressType::class, 'checkValue']),
                FormParam::init('Address', $address)->required(),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('AutoCreation.Enabled', $autoCreationEnabled),
                FormParam::init('AutoCreation.Type', $autoCreationType)
                    ->serializeBy([ConfigurationAddressAutoCreationType::class, 'checkValue']),
                FormParam::init('AutoCreation.ConversationServiceSid', $autoCreationConversationServiceSid),
                FormParam::init('AutoCreation.WebhookUrl', $autoCreationWebhookUrl),
                FormParam::init('AutoCreation.WebhookMethod', $autoCreationWebhookMethod)
                    ->serializeBy([ConfigurationAddressMethod::class, 'checkValue']),
                FormParam::init('AutoCreation.WebhookFilters', $autoCreationWebhookFilters),
                FormParam::init('AutoCreation.StudioFlowSid', $autoCreationStudioFlowSid),
                FormParam::init('AutoCreation.StudioRetryCount', $autoCreationStudioRetryCount),
                FormParam::init('AddressCountry', $addressCountry)
            );

        $_resHandler = $this->responseHandler()->type(ConfigurationAddress::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch an address configuration
     *
     * @param string $sid The SID of the Address Configuration resource. This value can be either
     *        the `sid` or the `address` of the configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConfigurationAddress(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Configuration/Addresses/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(ConfigurationAddress::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing address configuration
     *
     * @param string $sid The SID of the Address Configuration resource. This value can be either
     *        the `sid` or the `address` of the configuration
     * @param string|null $friendlyName The human-readable name of this configuration, limited to
     *        256 characters. Optional.
     * @param bool|null $autoCreationEnabled Enable/Disable auto-creating conversations for messages
     *        to this address
     * @param string|null $autoCreationType
     * @param string|null $autoCreationConversationServiceSid Conversation Service for the
     *        auto-created conversation. If not set, the conversation is created in the default
     *        service.
     * @param string|null $autoCreationWebhookUrl For type `webhook`, the url for the webhook
     *        request.
     * @param string|null $autoCreationWebhookMethod
     * @param string[]|null $autoCreationWebhookFilters The list of events, firing webhook event for
     *        this Conversation. Values can be any of the following: `onMessageAdded`,
     *        `onMessageUpdated`, `onMessageRemoved`, `onConversationUpdated`,
     *        `onConversationStateUpdated`, `onConversationRemoved`, `onParticipantAdded`,
     *        `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`
     * @param string|null $autoCreationStudioFlowSid For type `studio`, the studio flow SID where
     *        the webhook should be sent to.
     * @param int|null $autoCreationStudioRetryCount For type `studio`, number of times to retry the
     *        webhook request
     *
     * @return ApiResponse Response from the API call
     */
    public function updateConfigurationAddress(
        string $sid,
        ?string $friendlyName = null,
        ?bool $autoCreationEnabled = null,
        ?string $autoCreationType = null,
        ?string $autoCreationConversationServiceSid = null,
        ?string $autoCreationWebhookUrl = null,
        ?string $autoCreationWebhookMethod = null,
        ?array $autoCreationWebhookFilters = null,
        ?string $autoCreationStudioFlowSid = null,
        ?int $autoCreationStudioRetryCount = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Configuration/Addresses/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('AutoCreation.Enabled', $autoCreationEnabled),
                FormParam::init('AutoCreation.Type', $autoCreationType)
                    ->serializeBy([ConfigurationAddressAutoCreationType::class, 'checkValue']),
                FormParam::init('AutoCreation.ConversationServiceSid', $autoCreationConversationServiceSid),
                FormParam::init('AutoCreation.WebhookUrl', $autoCreationWebhookUrl),
                FormParam::init('AutoCreation.WebhookMethod', $autoCreationWebhookMethod)
                    ->serializeBy([ConfigurationAddressMethod::class, 'checkValue']),
                FormParam::init('AutoCreation.WebhookFilters', $autoCreationWebhookFilters),
                FormParam::init('AutoCreation.StudioFlowSid', $autoCreationStudioFlowSid),
                FormParam::init('AutoCreation.StudioRetryCount', $autoCreationStudioRetryCount)
            );

        $_resHandler = $this->responseHandler()->type(ConfigurationAddress::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove an existing address configuration
     *
     * @param string $sid The SID of the Address Configuration resource. This value can be either
     *        the `sid` or the `address` of the configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteConfigurationAddress(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Configuration/Addresses/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
