<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListServiceResponse;
use TwilioApIsLib\Models\Service;
use TwilioApIsLib\Server;

class ConversationsV1ServiceApi extends BaseApi
{
    /**
     * Create a new conversation service on your account
     *
     * @param string $friendlyName The human-readable name of this service, limited to 256
     *        characters. Optional.
     *
     * @return ApiResponse Response from the API call
     */
    public function createService(string $friendlyName): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required()
            );

        $_resHandler = $this->responseHandler()->type(Service::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all conversation services on your account
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 100.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listService(?int $pageSize = null, ?int $page = null, ?string $pageToken = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a conversation service with all its nested resources from your account
     *
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteService(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a conversation service from your account
     *
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchService(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Service::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
