<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ChannelWebhookEnabledType;
use TwilioApIsLib\Models\Conversation;
use TwilioApIsLib\Models\ConversationState;
use TwilioApIsLib\Models\ListConversationResponse;
use TwilioApIsLib\Models\ListServiceConversationResponse;
use TwilioApIsLib\Models\ServiceConversation;
use TwilioApIsLib\Models\ServiceConversationState;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class ConversationsV1ConversationApi extends BaseApi
{
    /**
     * Create a new conversation in your account's default service
     *
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function createConversation(
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $uniqueName = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $messagingServiceSid = null,
        ?string $attributes = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Conversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('Attributes', $attributes),
                FormParam::init('State', $state)->serializeBy([ConversationState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName)
            );

        $_resHandler = $this->responseHandler()->type(Conversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of conversations in your account's default service
     *
     * @param string|null $startDate Specifies the beginning of the date range for filtering
     *        Conversations based on their creation date. Conversations that were created on or
     *        after this date will be included in the results. The date must be in ISO8601 format,
     *        specifically starting at the beginning of the specified date (YYYY-MM-DDT00:00:00Z),
     *        for precise filtering. This parameter can be combined with other filters. If this
     *        filter is used, the returned list is sorted by latest conversation creation date in
     *        descending order.
     * @param string|null $endDate Defines the end of the date range for filtering conversations by
     *        their creation date. Only conversations that were created on or before this date
     *        will appear in the results.  The date must be in ISO8601 format, specifically
     *        capturing up to the end of the specified date (YYYY-MM-DDT23:59:59Z), to ensure that
     *        conversations from the entire end day are included. This parameter can be combined
     *        with other filters. If this filter is used, the returned list is sorted by latest
     *        conversation creation date in descending order.
     * @param string|null $state State for sorting and filtering list of Conversations. Can be
     *        `active`, `inactive` or `closed`
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 100.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listConversation(
        ?string $startDate = null,
        ?string $endDate = null,
        ?string $state = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Conversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('StartDate', $startDate),
                QueryParam::init('EndDate', $endDate),
                QueryParam::init('State', $state)->serializeBy([ConversationState::class, 'checkValue']),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListConversationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation in your account's default service
     *
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateConversation(
        string $sid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $attributes = null,
        ?string $messagingServiceSid = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $uniqueName = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Conversations/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('Attributes', $attributes),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('State', $state)->serializeBy([ConversationState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName)
            );

        $_resHandler = $this->responseHandler()->type(Conversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a conversation from your account's default service
     *
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteConversation(string $sid, ?string $xTwilioWebhookEnabled = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Conversations/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a conversation from your account's default service
     *
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConversation(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Conversations/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Conversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new conversation in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function createServiceConversation(
        string $chatServiceSid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $uniqueName = null,
        ?string $attributes = null,
        ?string $messagingServiceSid = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Conversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('Attributes', $attributes),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('State', $state)->serializeBy([ServiceConversationState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of conversations in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string|null $startDate Specifies the beginning of the date range for filtering
     *        Conversations based on their creation date. Conversations that were created on or
     *        after this date will be included in the results. The date must be in ISO8601 format,
     *        specifically starting at the beginning of the specified date (YYYY-MM-DDT00:00:00Z),
     *        for precise filtering. This parameter can be combined with other filters. If this
     *        filter is used, the returned list is sorted by latest conversation creation date in
     *        descending order.
     * @param string|null $endDate Defines the end of the date range for filtering conversations by
     *        their creation date. Only conversations that were created on or before this date
     *        will appear in the results.  The date must be in ISO8601 format, specifically
     *        capturing up to the end of the specified date (YYYY-MM-DDT23:59:59Z), to ensure that
     *        conversations from the entire end day are included. This parameter can be combined
     *        with other filters. If this filter is used, the returned list is sorted by latest
     *        conversation creation date in descending order.
     * @param string|null $state State for sorting and filtering list of Conversations. Can be
     *        `active`, `inactive` or `closed`
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 100.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceConversation(
        string $chatServiceSid,
        ?string $startDate = null,
        ?string $endDate = null,
        ?string $state = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Conversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                QueryParam::init('StartDate', $startDate),
                QueryParam::init('EndDate', $endDate),
                QueryParam::init('State', $state)->serializeBy([ServiceConversationState::class, 'checkValue']),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceConversationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceConversation(
        string $chatServiceSid,
        string $sid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $attributes = null,
        ?string $messagingServiceSid = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $uniqueName = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Conversations/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('Attributes', $attributes),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('State', $state)->serializeBy([ServiceConversationState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a conversation from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceConversation(
        string $chatServiceSid,
        string $sid,
        ?string $xTwilioWebhookEnabled = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Services/{ChatServiceSid}/Conversations/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a conversation from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string $sid A 34 character string that uniquely identifies this resource. Can also be
     *        the `unique_name` of the Conversation.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceConversation(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Conversations/{Sid}'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
