<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Credential;
use TwilioApIsLib\Models\CredentialPushType;
use TwilioApIsLib\Models\ListCredentialResponse;
use TwilioApIsLib\Server;

class ConversationsV1CredentialApi extends BaseApi
{
    /**
     * Add a new push notification credential to your account
     *
     * @param string $type The type of push-notification service the credential is for. Can be:
     *        `fcm`, `gcm`, or `apn`.
     * @param string|null $friendlyName A descriptive string that you create to describe the new
     *        resource. It can be up to 64 characters long.
     * @param string|null $certificate [APN only] The URL encoded representation of the certificate.
     *        For example,
     *        `-----BEGIN CERTIFICATE-----
     *        MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A==
     *        -----END CERTIFICATE-----`.
     * @param string|null $privateKey [APN only] The URL encoded representation of the private key.
     *        For example,
     *        `-----BEGIN RSA PRIVATE KEY-----
     *        MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG...
     *        -----END RSA PRIVATE KEY-----`.
     * @param bool|null $sandbox [APN only] Whether to send the credential to sandbox APNs. Can be
     *        `true` to send to sandbox APNs or `false` to send to production.
     * @param string|null $apiKey [GCM only] The API key for the project that was obtained from the
     *        Google Developer console for your GCM Service application credential.
     * @param string|null $secret [FCM only] The **Server key** of your project from the Firebase
     *        console, found under Settings / Cloud messaging.
     *
     * @return ApiResponse Response from the API call
     */
    public function createCredential(
        string $type,
        ?string $friendlyName = null,
        ?string $certificate = null,
        ?string $privateKey = null,
        ?bool $sandbox = null,
        ?string $apiKey = null,
        ?string $secret = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Type', $type)->required()->serializeBy([CredentialPushType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Certificate', $certificate),
                FormParam::init('PrivateKey', $privateKey),
                FormParam::init('Sandbox', $sandbox),
                FormParam::init('ApiKey', $apiKey),
                FormParam::init('Secret', $secret)
            );

        $_resHandler = $this->responseHandler()->type(Credential::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all push notification credentials on your account
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 100.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listCredential(?int $pageSize = null, ?int $page = null, ?string $pageToken = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListCredentialResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing push notification credential on your account
     *
     * @param string $sid A 34 character string that uniquely identifies this resource.
     * @param string|null $type The type of push-notification service the credential is for. Can be:
     *        `fcm`, `gcm`, or `apn`.
     * @param string|null $friendlyName A descriptive string that you create to describe the new
     *        resource. It can be up to 64 characters long.
     * @param string|null $certificate [APN only] The URL encoded representation of the certificate.
     *        For example,
     *        `-----BEGIN CERTIFICATE-----
     *        MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEF.....A==
     *        -----END CERTIFICATE-----`.
     * @param string|null $privateKey [APN only] The URL encoded representation of the private key.
     *        For example,
     *        `-----BEGIN RSA PRIVATE KEY-----
     *        MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fG...
     *        -----END RSA PRIVATE KEY-----`.
     * @param bool|null $sandbox [APN only] Whether to send the credential to sandbox APNs. Can be
     *        `true` to send to sandbox APNs or `false` to send to production.
     * @param string|null $apiKey [GCM only] The API key for the project that was obtained from the
     *        Google Developer console for your GCM Service application credential.
     * @param string|null $secret [FCM only] The **Server key** of your project from the Firebase
     *        console, found under Settings / Cloud messaging.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateCredential(
        string $sid,
        ?string $type = null,
        ?string $friendlyName = null,
        ?string $certificate = null,
        ?string $privateKey = null,
        ?bool $sandbox = null,
        ?string $apiKey = null,
        ?string $secret = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Credentials/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Type', $type)->serializeBy([CredentialPushType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Certificate', $certificate),
                FormParam::init('PrivateKey', $privateKey),
                FormParam::init('Sandbox', $sandbox),
                FormParam::init('ApiKey', $apiKey),
                FormParam::init('Secret', $secret)
            );

        $_resHandler = $this->responseHandler()->type(Credential::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a push notification credential from your account
     *
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCredential(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Credentials/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a push notification credential from your account
     *
     * @param string $sid A 34 character string that uniquely identifies this resource.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchCredential(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Credentials/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Credential::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
