<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ChannelWebhookEnabledType;
use TwilioApIsLib\Models\ConversationWithParticipants;
use TwilioApIsLib\Models\ConversationWithParticipantsState;
use TwilioApIsLib\Models\ServiceConversationWithParticipants;
use TwilioApIsLib\Models\ServiceConversationWithParticipantsState;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class ConversationsV1ConversationWithParticipantsApi extends BaseApi
{
    /**
     * Create a new conversation with the list of participants in your account's default service
     *
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     * @param string[]|null $participant The participant to be added to the conversation in JSON
     *        format. The JSON object attributes are as parameters in [Participant Resource](https:
     *        //www.twilio.com/docs/conversations/api/conversation-participant-resource). The
     *        maximum number of participants that can be added in a single request is 10.
     *
     * @return ApiResponse Response from the API call
     */
    public function createConversationWithParticipants(
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $uniqueName = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $messagingServiceSid = null,
        ?string $attributes = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null,
        ?array $participant = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/ConversationWithParticipants')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('Attributes', $attributes),
                FormParam::init('State', $state)
                    ->serializeBy([ConversationWithParticipantsState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName),
                FormParam::init('Participant', $participant)
            );

        $_resHandler = $this->responseHandler()->type(ConversationWithParticipants::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a new conversation with the list of participants in your account's default service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Conversation resource is associated with.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The human-readable name of this conversation, limited to 256
     *        characters. Optional.
     * @param string|null $uniqueName An application-defined string that uniquely identifies the
     *        resource. It can be used to address the resource in place of the resource's `sid` in
     *        the URL.
     * @param \DateTime|null $dateCreated The date that this resource was created.
     * @param \DateTime|null $dateUpdated The date that this resource was last updated.
     * @param string|null $messagingServiceSid The unique ID of the [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) this
     *        conversation belongs to.
     * @param string|null $attributes An optional string metadata field you can use to store any
     *        data you wish. The string value must contain structurally valid JSON if specified.
     *        **Note** that if the attributes are not set "{}" will be returned.
     * @param string|null $state Current state of this conversation. Can be either `initializing`,
     *        `active`, `inactive` or `closed` and defaults to `active`
     * @param string|null $timersInactive ISO8601 duration when conversation will be switched to
     *        `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $timersClosed ISO8601 duration when conversation will be switched to
     *        `closed` state. Minimum value for this timer is 10 minutes.
     * @param string|null $bindingsEmailAddress The default email address that will be used when
     *        sending outbound emails in this conversation.
     * @param string|null $bindingsEmailName The default name that will be used when sending
     *        outbound emails in this conversation.
     * @param string[]|null $participant The participant to be added to the conversation in JSON
     *        format. The JSON object attributes are as parameters in [Participant Resource](https:
     *        //www.twilio.com/docs/conversations/api/conversation-participant-resource). The
     *        maximum number of participants that can be added in a single request is 10.
     *
     * @return ApiResponse Response from the API call
     */
    public function createServiceConversationWithParticipants(
        string $chatServiceSid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $uniqueName = null,
        ?\DateTime $dateCreated = null,
        ?\DateTime $dateUpdated = null,
        ?string $messagingServiceSid = null,
        ?string $attributes = null,
        ?string $state = null,
        ?string $timersInactive = null,
        ?string $timersClosed = null,
        ?string $bindingsEmailAddress = null,
        ?string $bindingsEmailName = null,
        ?array $participant = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/ConversationWithParticipants'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('UniqueName', $uniqueName),
                FormParam::init('DateCreated', $dateCreated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('DateUpdated', $dateUpdated)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('Attributes', $attributes),
                FormParam::init('State', $state)
                    ->serializeBy([ServiceConversationWithParticipantsState::class, 'checkValue']),
                FormParam::init('Timers.Inactive', $timersInactive),
                FormParam::init('Timers.Closed', $timersClosed),
                FormParam::init('Bindings.Email.Address', $bindingsEmailAddress),
                FormParam::init('Bindings.Email.Name', $bindingsEmailName),
                FormParam::init('Participant', $participant)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConversationWithParticipants::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
