<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ChannelWebhookEnabledType;
use TwilioApIsLib\Models\ListServiceUserResponse;
use TwilioApIsLib\Models\ListUserResponse;
use TwilioApIsLib\Models\ServiceUser;
use TwilioApIsLib\Models\User;
use TwilioApIsLib\Server;

class ConversationsV1UserApi extends BaseApi
{
    /**
     * Add a new conversation user to your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the User
     *        resource is associated with.
     * @param string $identity The application-defined string that uniquely identifies the
     *        resource's User within the [Conversation Service](https://www.twilio.
     *        com/docs/conversations/api/service-resource). This value is often a username or an
     *        email address, and is case-sensitive.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The string that you assigned to describe the resource.
     * @param string|null $attributes The JSON Object string that stores application-specific data.
     *        If attributes have not been set, `{}` is returned.
     * @param string|null $roleSid The SID of a service-level
     *        [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the
     *        user.
     *
     * @return ApiResponse Response from the API call
     */
    public function createServiceUser(
        string $chatServiceSid,
        string $identity,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $attributes = null,
        ?string $roleSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Users')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Identity', $identity)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Attributes', $attributes),
                FormParam::init('RoleSid', $roleSid)
            );

        $_resHandler = $this->responseHandler()->type(ServiceUser::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all conversation users in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the
     *        User resources from.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceUser(
        string $chatServiceSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Users')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceUserResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation user in your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the User
     *        resource is associated with.
     * @param string $sid The SID of the User resource to update. This value can be either the `sid`
     *        or the `identity` of the User resource to update.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The string that you assigned to describe the resource.
     * @param string|null $attributes The JSON Object string that stores application-specific data.
     *        If attributes have not been set, `{}` is returned.
     * @param string|null $roleSid The SID of a service-level
     *        [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the
     *        user.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceUser(
        string $chatServiceSid,
        string $sid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $attributes = null,
        ?string $roleSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Attributes', $attributes),
                FormParam::init('RoleSid', $roleSid)
            );

        $_resHandler = $this->responseHandler()->type(ServiceUser::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a conversation user from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete
     *        the User resource from.
     * @param string $sid The SID of the User resource to delete. This value can be either the `sid`
     *        or the `identity` of the User resource to delete.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteServiceUser(
        string $chatServiceSid,
        string $sid,
        ?string $xTwilioWebhookEnabled = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{ChatServiceSid}/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a conversation user from your service
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch
     *        the User resource from.
     * @param string $sid The SID of the User resource to fetch. This value can be either the `sid`
     *        or the `identity` of the User resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceUser(string $chatServiceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(ServiceUser::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Add a new conversation user to your account's default service
     *
     * @param string $identity The application-defined string that uniquely identifies the
     *        resource's User within the [Conversation Service](https://www.twilio.
     *        com/docs/conversations/api/service-resource). This value is often a username or an
     *        email address, and is case-sensitive.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The string that you assigned to describe the resource.
     * @param string|null $attributes The JSON Object string that stores application-specific data.
     *        If attributes have not been set, `{}` is returned.
     * @param string|null $roleSid The SID of a service-level
     *        [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the
     *        user.
     *
     * @return ApiResponse Response from the API call
     */
    public function createUser(
        string $identity,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $attributes = null,
        ?string $roleSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Users')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Identity', $identity)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Attributes', $attributes),
                FormParam::init('RoleSid', $roleSid)
            );

        $_resHandler = $this->responseHandler()->type(User::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all conversation users in your account's default service
     *
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listUser(?int $pageSize = null, ?int $page = null, ?string $pageToken = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Users')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListUserResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update an existing conversation user in your account's default service
     *
     * @param string $sid The SID of the User resource to update. This value can be either the `sid`
     *        or the `identity` of the User resource to update.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     * @param string|null $friendlyName The string that you assigned to describe the resource.
     * @param string|null $attributes The JSON Object string that stores application-specific data.
     *        If attributes have not been set, `{}` is returned.
     * @param string|null $roleSid The SID of a service-level
     *        [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the
     *        user.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateUser(
        string $sid,
        ?string $xTwilioWebhookEnabled = null,
        ?string $friendlyName = null,
        ?string $attributes = null,
        ?string $roleSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue']),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('Attributes', $attributes),
                FormParam::init('RoleSid', $roleSid)
            );

        $_resHandler = $this->responseHandler()->type(User::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove a conversation user from your account's default service
     *
     * @param string $sid The SID of the User resource to delete. This value can be either the `sid`
     *        or the `identity` of the User resource to delete.
     * @param string|null $xTwilioWebhookEnabled The X-Twilio-Webhook-Enabled HTTP request header
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteUser(string $sid, ?string $xTwilioWebhookEnabled = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('X-Twilio-Webhook-Enabled', $xTwilioWebhookEnabled)
                    ->serializeBy([ChannelWebhookEnabledType::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch a conversation user from your account's default service
     *
     * @param string $sid The SID of the User resource to fetch. This value can be either the `sid`
     *        or the `identity` of the User resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchUser(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Users/{Sid}')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(User::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
