<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ServiceNotification;
use TwilioApIsLib\Server;

class ConversationsV1NotificationApi extends BaseApi
{
    /**
     * Update push notification service settings
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Configuration applies to.
     * @param bool|null $logEnabled Weather the notification logging is enabled.
     * @param bool|null $newMessageEnabled Whether to send a notification when a new message is
     *        added to a conversation. The default is `false`.
     * @param string|null $newMessageTemplate The template to use to create the notification text
     *        displayed when a new message is added to a conversation and `new_message.enabled` is
     *        `true`.
     * @param string|null $newMessageSound The name of the sound to play when a new message is added
     *        to a conversation and `new_message.enabled` is `true`.
     * @param bool|null $newMessageBadgeCountEnabled Whether the new message badge is enabled. The
     *        default is `false`.
     * @param bool|null $addedToConversationEnabled Whether to send a notification when a
     *        participant is added to a conversation. The default is `false`.
     * @param string|null $addedToConversationTemplate The template to use to create the
     *        notification text displayed when a participant is added to a conversation and
     *        `added_to_conversation.enabled` is `true`.
     * @param string|null $addedToConversationSound The name of the sound to play when a participant
     *        is added to a conversation and `added_to_conversation.enabled` is `true`.
     * @param bool|null $removedFromConversationEnabled Whether to send a notification to a user
     *        when they are removed from a conversation. The default is `false`.
     * @param string|null $removedFromConversationTemplate The template to use to create the
     *        notification text displayed to a user when they are removed from a conversation and
     *        `removed_from_conversation.enabled` is `true`.
     * @param string|null $removedFromConversationSound The name of the sound to play to a user when
     *        they are removed from a conversation and `removed_from_conversation.enabled` is
     *        `true`.
     * @param bool|null $newMessageWithMediaEnabled Whether to send a notification when a new
     *        message with media/file attachments is added to a conversation. The default is
     *        `false`.
     * @param string|null $newMessageWithMediaTemplate The template to use to create the
     *        notification text displayed when a new message with media/file attachments is added
     *        to a conversation and `new_message.attachments.enabled` is `true`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceNotification(
        string $chatServiceSid,
        ?bool $logEnabled = null,
        ?bool $newMessageEnabled = null,
        ?string $newMessageTemplate = null,
        ?string $newMessageSound = null,
        ?bool $newMessageBadgeCountEnabled = null,
        ?bool $addedToConversationEnabled = null,
        ?string $addedToConversationTemplate = null,
        ?string $addedToConversationSound = null,
        ?bool $removedFromConversationEnabled = null,
        ?string $removedFromConversationTemplate = null,
        ?string $removedFromConversationSound = null,
        ?bool $newMessageWithMediaEnabled = null,
        ?string $newMessageWithMediaTemplate = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Services/{ChatServiceSid}/Configuration/Notifications'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('LogEnabled', $logEnabled),
                FormParam::init('NewMessage.Enabled', $newMessageEnabled),
                FormParam::init('NewMessage.Template', $newMessageTemplate),
                FormParam::init('NewMessage.Sound', $newMessageSound),
                FormParam::init('NewMessage.BadgeCountEnabled', $newMessageBadgeCountEnabled),
                FormParam::init('AddedToConversation.Enabled', $addedToConversationEnabled),
                FormParam::init('AddedToConversation.Template', $addedToConversationTemplate),
                FormParam::init('AddedToConversation.Sound', $addedToConversationSound),
                FormParam::init('RemovedFromConversation.Enabled', $removedFromConversationEnabled),
                FormParam::init('RemovedFromConversation.Template', $removedFromConversationTemplate),
                FormParam::init('RemovedFromConversation.Sound', $removedFromConversationSound),
                FormParam::init('NewMessage.WithMedia.Enabled', $newMessageWithMediaEnabled),
                FormParam::init('NewMessage.WithMedia.Template', $newMessageWithMediaTemplate)
            );

        $_resHandler = $this->responseHandler()->type(ServiceNotification::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch push notification service settings
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Configuration applies to.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceNotification(string $chatServiceSid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/Configuration/Notifications'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('ChatServiceSid', $chatServiceSid)->required());

        $_resHandler = $this->responseHandler()->type(ServiceNotification::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
