<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Configuration;
use TwilioApIsLib\Models\ServiceConfiguration;
use TwilioApIsLib\Server;

class ConversationsV1ConfigurationApi extends BaseApi
{
    /**
     * Fetch the global configuration of conversations on your account
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchConfiguration(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Configuration')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken');

        $_resHandler = $this->responseHandler()->type(Configuration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update the global configuration of conversations on your account
     *
     * @param string|null $defaultChatServiceSid The SID of the default [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) to use when
     *        creating a conversation.
     * @param string|null $defaultMessagingServiceSid The SID of the default [Messaging
     *        Service](https://www.twilio.com/docs/messaging/api/service-resource) to use when
     *        creating a conversation.
     * @param string|null $defaultInactiveTimer Default ISO8601 duration when conversation will be
     *        switched to `inactive` state. Minimum value for this timer is 1 minute.
     * @param string|null $defaultClosedTimer Default ISO8601 duration when conversation will be
     *        switched to `closed` state. Minimum value for this timer is 10 minutes.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateConfiguration(
        ?string $defaultChatServiceSid = null,
        ?string $defaultMessagingServiceSid = null,
        ?string $defaultInactiveTimer = null,
        ?string $defaultClosedTimer = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Configuration')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('DefaultChatServiceSid', $defaultChatServiceSid),
                FormParam::init('DefaultMessagingServiceSid', $defaultMessagingServiceSid),
                FormParam::init('DefaultInactiveTimer', $defaultInactiveTimer),
                FormParam::init('DefaultClosedTimer', $defaultClosedTimer)
            );

        $_resHandler = $this->responseHandler()->type(Configuration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Fetch the configuration of a conversation service
     *
     * @param string $chatServiceSid The SID of the Service configuration resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchServiceConfiguration(string $chatServiceSid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ChatServiceSid}/Configuration')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('ChatServiceSid', $chatServiceSid)->required());

        $_resHandler = $this->responseHandler()->type(ServiceConfiguration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update configuration settings of a conversation service
     *
     * @param string $chatServiceSid The SID of the Service configuration resource to update.
     * @param string|null $defaultConversationCreatorRoleSid The conversation-level role assigned to
     *        a conversation creator when they join a new conversation. See [Conversation
     *        Role](https://www.twilio.com/docs/conversations/api/role-resource) for more info
     *        about roles.
     * @param string|null $defaultConversationRoleSid The conversation-level role assigned to users
     *        when they are added to a conversation. See [Conversation Role](https://www.twilio.
     *        com/docs/conversations/api/role-resource) for more info about roles.
     * @param string|null $defaultChatServiceRoleSid The service-level role assigned to users when
     *        they are added to the service. See [Conversation Role](https://www.twilio.
     *        com/docs/conversations/api/role-resource) for more info about roles.
     * @param bool|null $reachabilityEnabled Whether the [Reachability
     *        Indicator](https://www.twilio.com/docs/conversations/reachability) is enabled for
     *        this Conversations Service. The default is `false`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateServiceConfiguration(
        string $chatServiceSid,
        ?string $defaultConversationCreatorRoleSid = null,
        ?string $defaultConversationRoleSid = null,
        ?string $defaultChatServiceRoleSid = null,
        ?bool $reachabilityEnabled = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ChatServiceSid}/Configuration')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('DefaultConversationCreatorRoleSid', $defaultConversationCreatorRoleSid),
                FormParam::init('DefaultConversationRoleSid', $defaultConversationRoleSid),
                FormParam::init('DefaultChatServiceRoleSid', $defaultChatServiceRoleSid),
                FormParam::init('ReachabilityEnabled', $reachabilityEnabled)
            );

        $_resHandler = $this->responseHandler()->type(ServiceConfiguration::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
