<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListParticipantConversationResponse;
use TwilioApIsLib\Models\ListServiceParticipantConversationResponse;
use TwilioApIsLib\Server;

class ConversationsV1ParticipantConversationApi extends BaseApi
{
    /**
     * Retrieve a list of all Conversations that this Participant belongs to by identity or by address.
     * Only one parameter should be specified.
     *
     * @param string|null $identity A unique string identifier for the conversation participant as
     *        [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource).
     *        This parameter is non-null if (and only if) the participant is using the
     *        Conversations SDK to communicate. Limited to 256 characters.
     * @param string|null $address A unique string identifier for the conversation participant who's
     *        not a Conversation User. This parameter could be found in messaging_binding.address
     *        field of Participant resource. It should be url-encoded.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listParticipantConversation(
        ?string $identity = null,
        ?string $address = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/ParticipantConversations')
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('Identity', $identity),
                QueryParam::init('Address', $address),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListParticipantConversationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieve a list of all Conversations that this Participant belongs to by identity or by address.
     * Only one parameter should be specified.
     *
     * @param string $chatServiceSid The SID of the [Conversation
     *        Service](https://www.twilio.com/docs/conversations/api/service-resource) the
     *        Participant Conversations resource is associated with.
     * @param string|null $identity A unique string identifier for the conversation participant as
     *        [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource).
     *        This parameter is non-null if (and only if) the participant is using the
     *        Conversations SDK to communicate. Limited to 256 characters.
     * @param string|null $address A unique string identifier for the conversation participant who's
     *        not a Conversation User. This parameter could be found in messaging_binding.address
     *        field of Participant resource. It should be url-encoded.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 50.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listServiceParticipantConversation(
        string $chatServiceSid,
        ?string $identity = null,
        ?string $address = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Services/{ChatServiceSid}/ParticipantConversations'
        )
            ->server(Server::DEFAULT2)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ChatServiceSid', $chatServiceSid)->required(),
                QueryParam::init('Identity', $identity),
                QueryParam::init('Address', $address),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()
            ->type(ListServiceParticipantConversationResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
