<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Binding;
use TwilioApIsLib\Models\BindingBindingType;
use TwilioApIsLib\Models\ListBindingResponse;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class NotifyV1BindingApi extends BaseApi
{
    /**
     * @param string $serviceSid The SID of the
     *        [Service](https://www.twilio.com/docs/notify/api/service-resource) to fetch the
     *        resource from.
     * @param string $sid The Twilio-provided string that uniquely identifies the Binding resource
     *        to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchBinding(string $serviceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ServiceSid}/Bindings/{Sid}')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(Binding::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $serviceSid The SID of the
     *        [Service](https://www.twilio.com/docs/notify/api/service-resource) to delete the
     *        resource from.
     * @param string $sid The Twilio-provided string that uniquely identifies the Binding resource
     *        to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteBinding(string $serviceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{ServiceSid}/Bindings/{Sid}')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $serviceSid The SID of the
     *        [Service](https://www.twilio.com/docs/notify/api/service-resource) to create the
     *        resource under.
     * @param string $identity The `identity` value that uniquely identifies the new resource's
     *        [User](https://www.twilio.com/docs/chat/rest/user-resource) within the
     *        [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to 20
     *        Bindings can be created for the same Identity in a given Service.
     * @param string $bindingType The transport technology to use for the Binding. Can be: `apn`,
     *        `fcm`, `gcm`, `sms`, or `facebook-messenger`.
     * @param string $address The channel-specific address. For APNS, the device token. For FCM and
     *        GCM, the registration token. For SMS, a phone number in E.164 format. For Facebook
     *        Messenger, the Messenger ID of the user or a phone number in E.164 format.
     * @param string[]|null $tag A tag that can be used to select the Bindings to notify. Repeat
     *        this parameter to specify more than one tag, up to a total of 20 tags.
     * @param string|null $notificationProtocolVersion The protocol version to use to send the
     *        notification. This defaults to the value of
     *        `default_xxxx_notification_protocol_version` for the protocol in the [Service](https:
     *        //www.twilio.com/docs/notify/api/service-resource). The current version is `"3"` for
     *        `apn`, `fcm`, and `gcm` type Bindings. The parameter is not applicable to `sms` and
     *        `facebook-messenger` type Bindings as the data format is fixed.
     * @param string|null $credentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) resource to
     *        be used to send notifications to this Binding. If present, this overrides the
     *        Credential specified in the Service resource. Applies to only `apn`, `fcm`, and
     *        `gcm` type Bindings.
     * @param string|null $endpoint Deprecated.
     *
     * @return ApiResponse Response from the API call
     */
    public function createBinding(
        string $serviceSid,
        string $identity,
        string $bindingType,
        string $address,
        ?array $tag = null,
        ?string $notificationProtocolVersion = null,
        ?string $credentialSid = null,
        ?string $endpoint = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{ServiceSid}/Bindings')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Identity', $identity)->required(),
                FormParam::init('BindingType', $bindingType)
                    ->required()
                    ->serializeBy([BindingBindingType::class, 'checkValue']),
                FormParam::init('Address', $address)->required(),
                FormParam::init('Tag', $tag),
                FormParam::init('NotificationProtocolVersion', $notificationProtocolVersion),
                FormParam::init('CredentialSid', $credentialSid),
                FormParam::init('Endpoint', $endpoint)
            );

        $_resHandler = $this->responseHandler()->type(Binding::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $serviceSid The SID of the
     *        [Service](https://www.twilio.com/docs/notify/api/service-resource) to read the
     *        resource from.
     * @param \DateTime|null $startDate Only include usage that has occurred on or after this date.
     *        Specify the date in GMT and format as `YYYY-MM-DD`.
     * @param \DateTime|null $endDate Only include usage that occurred on or before this date.
     *        Specify the date in GMT and format as `YYYY-MM-DD`.
     * @param string[]|null $identity The
     *        [User](https://www.twilio.com/docs/chat/rest/user-resource)'s `identity` value of
     *        the resources to read.
     * @param string[]|null $tag Only list Bindings that have all of the specified Tags. The
     *        following implicit tags are available: `all`, `apn`, `fcm`, `gcm`, `sms`, `facebook-
     *        messenger`. Up to 5 tags are allowed.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listBinding(
        string $serviceSid,
        ?\DateTime $startDate = null,
        ?\DateTime $endDate = null,
        ?array $identity = null,
        ?array $tag = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{ServiceSid}/Bindings')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('Identity', $identity),
                QueryParam::init('Tag', $tag),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListBindingResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
