<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListServiceResponse;
use TwilioApIsLib\Models\Service1;
use TwilioApIsLib\Server;

class NotifyV1ServiceApi extends BaseApi
{
    /**
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     * @param string|null $apnCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        APN Bindings.
     * @param string|null $gcmCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        GCM Bindings.
     * @param string|null $messagingServiceSid The SID of the [Messaging
     *        Service](https://www.twilio.com/docs/sms/quickstart#messaging-services) to use for
     *        SMS Bindings. This parameter must be set in order to send SMS notifications.
     * @param string|null $facebookMessengerPageId Deprecated.
     * @param string|null $defaultApnNotificationProtocolVersion The protocol version to use for
     *        sending APNS notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param string|null $defaultGcmNotificationProtocolVersion The protocol version to use for
     *        sending GCM notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param string|null $fcmCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        FCM Bindings.
     * @param string|null $defaultFcmNotificationProtocolVersion The protocol version to use for
     *        sending FCM notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param bool|null $logEnabled Whether to log notifications. Can be: `true` or `false` and the
     *        default is `true`.
     * @param string|null $alexaSkillId Deprecated.
     * @param string|null $defaultAlexaNotificationProtocolVersion Deprecated.
     * @param string|null $deliveryCallbackUrl URL to send delivery status callback.
     * @param bool|null $deliveryCallbackEnabled Callback configuration that enables delivery
     *        callbacks, default false
     *
     * @return ApiResponse Response from the API call
     */
    public function createService(
        ?string $friendlyName = null,
        ?string $apnCredentialSid = null,
        ?string $gcmCredentialSid = null,
        ?string $messagingServiceSid = null,
        ?string $facebookMessengerPageId = null,
        ?string $defaultApnNotificationProtocolVersion = null,
        ?string $defaultGcmNotificationProtocolVersion = null,
        ?string $fcmCredentialSid = null,
        ?string $defaultFcmNotificationProtocolVersion = null,
        ?bool $logEnabled = null,
        ?string $alexaSkillId = null,
        ?string $defaultAlexaNotificationProtocolVersion = null,
        ?string $deliveryCallbackUrl = null,
        ?bool $deliveryCallbackEnabled = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('ApnCredentialSid', $apnCredentialSid),
                FormParam::init('GcmCredentialSid', $gcmCredentialSid),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('FacebookMessengerPageId', $facebookMessengerPageId),
                FormParam::init('DefaultApnNotificationProtocolVersion', $defaultApnNotificationProtocolVersion),
                FormParam::init('DefaultGcmNotificationProtocolVersion', $defaultGcmNotificationProtocolVersion),
                FormParam::init('FcmCredentialSid', $fcmCredentialSid),
                FormParam::init('DefaultFcmNotificationProtocolVersion', $defaultFcmNotificationProtocolVersion),
                FormParam::init('LogEnabled', $logEnabled),
                FormParam::init('AlexaSkillId', $alexaSkillId),
                FormParam::init(
                    'DefaultAlexaNotificationProtocolVersion',
                    $defaultAlexaNotificationProtocolVersion
                ),
                FormParam::init('DeliveryCallbackUrl', $deliveryCallbackUrl),
                FormParam::init('DeliveryCallbackEnabled', $deliveryCallbackEnabled)
            );

        $_resHandler = $this->responseHandler()->type(Service1::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $friendlyName The string that identifies the Service resources to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listService(
        ?string $friendlyName = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListServiceResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $sid The Twilio-provided string that uniquely identifies the Service resource
     *        to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteService(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Services/{Sid}')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $sid The Twilio-provided string that uniquely identifies the Service resource
     *        to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchService(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Services/{Sid}')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Service1::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $sid The Twilio-provided string that uniquely identifies the Service resource
     *        to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        resource. It can be up to 64 characters long.
     * @param string|null $apnCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        APN Bindings.
     * @param string|null $gcmCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        GCM Bindings.
     * @param string|null $messagingServiceSid The SID of the [Messaging
     *        Service](https://www.twilio.com/docs/sms/quickstart#messaging-services) to use for
     *        SMS Bindings. This parameter must be set in order to send SMS notifications.
     * @param string|null $facebookMessengerPageId Deprecated.
     * @param string|null $defaultApnNotificationProtocolVersion The protocol version to use for
     *        sending APNS notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param string|null $defaultGcmNotificationProtocolVersion The protocol version to use for
     *        sending GCM notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param string|null $fcmCredentialSid The SID of the
     *        [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for
     *        FCM Bindings.
     * @param string|null $defaultFcmNotificationProtocolVersion The protocol version to use for
     *        sending FCM notifications. Can be overridden on a Binding by Binding basis when
     *        creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
     *        resource.
     * @param bool|null $logEnabled Whether to log notifications. Can be: `true` or `false` and the
     *        default is `true`.
     * @param string|null $alexaSkillId Deprecated.
     * @param string|null $defaultAlexaNotificationProtocolVersion Deprecated.
     * @param string|null $deliveryCallbackUrl URL to send delivery status callback.
     * @param bool|null $deliveryCallbackEnabled Callback configuration that enables delivery
     *        callbacks, default false
     *
     * @return ApiResponse Response from the API call
     */
    public function updateService(
        string $sid,
        ?string $friendlyName = null,
        ?string $apnCredentialSid = null,
        ?string $gcmCredentialSid = null,
        ?string $messagingServiceSid = null,
        ?string $facebookMessengerPageId = null,
        ?string $defaultApnNotificationProtocolVersion = null,
        ?string $defaultGcmNotificationProtocolVersion = null,
        ?string $fcmCredentialSid = null,
        ?string $defaultFcmNotificationProtocolVersion = null,
        ?bool $logEnabled = null,
        ?string $alexaSkillId = null,
        ?string $defaultAlexaNotificationProtocolVersion = null,
        ?string $deliveryCallbackUrl = null,
        ?bool $deliveryCallbackEnabled = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Services/{Sid}')
            ->server(Server::DEFAULT3)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('ApnCredentialSid', $apnCredentialSid),
                FormParam::init('GcmCredentialSid', $gcmCredentialSid),
                FormParam::init('MessagingServiceSid', $messagingServiceSid),
                FormParam::init('FacebookMessengerPageId', $facebookMessengerPageId),
                FormParam::init('DefaultApnNotificationProtocolVersion', $defaultApnNotificationProtocolVersion),
                FormParam::init('DefaultGcmNotificationProtocolVersion', $defaultGcmNotificationProtocolVersion),
                FormParam::init('FcmCredentialSid', $fcmCredentialSid),
                FormParam::init('DefaultFcmNotificationProtocolVersion', $defaultFcmNotificationProtocolVersion),
                FormParam::init('LogEnabled', $logEnabled),
                FormParam::init('AlexaSkillId', $alexaSkillId),
                FormParam::init(
                    'DefaultAlexaNotificationProtocolVersion',
                    $defaultAlexaNotificationProtocolVersion
                ),
                FormParam::init('DeliveryCallbackUrl', $deliveryCallbackUrl),
                FormParam::init('DeliveryCallbackEnabled', $deliveryCallbackEnabled)
            );

        $_resHandler = $this->responseHandler()->type(Service1::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
