<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\TaskQueueCumulative;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1TaskQueueCumulativeStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to fetch.
     * @param string $taskQueueSid The SID of the TaskQueue for which to fetch statistics.
     * @param \DateTime|null $endDate Only calculate statistics from this date and time and earlier,
     *        specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
     * @param int|null $minutes Only calculate statistics since this many minutes in the past. The
     *        default is 15 minutes.
     * @param \DateTime|null $startDate Only calculate statistics from this date and time and later,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
     * @param string|null $taskChannel Only calculate cumulative statistics on this TaskChannel. Can
     *        be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     * @param string|null $splitByWaitTime A comma separated list of values that describes the
     *        thresholds, in seconds, to calculate statistics on. For each threshold specified,
     *        the number of Tasks canceled and reservations accepted above and below the specified
     *        thresholds in seconds are computed. TaskRouter will calculate statistics on up to 10,
     *        000 Tasks/Reservations for any given threshold.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTaskQueueCumulativeStatistics(
        string $workspaceSid,
        string $taskQueueSid,
        ?\DateTime $endDate = null,
        ?int $minutes = null,
        ?\DateTime $startDate = null,
        ?string $taskChannel = null,
        ?string $splitByWaitTime = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/CumulativeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('TaskQueueSid', $taskQueueSid)->required(),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('Minutes', $minutes),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('TaskChannel', $taskChannel),
                QueryParam::init('SplitByWaitTime', $splitByWaitTime)
            );

        $_resHandler = $this->responseHandler()->type(TaskQueueCumulative::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
