<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ConfigurationWebhookMethod;
use TwilioApIsLib\Models\ListTaskReservationResponse;
use TwilioApIsLib\Models\TaskReservation;
use TwilioApIsLib\Models\TaskReservationCallStatus;
use TwilioApIsLib\Models\TaskReservationConferenceEvent;
use TwilioApIsLib\Models\TaskReservationStatus;
use TwilioApIsLib\Models\TaskReservationSupervisorMode;
use TwilioApIsLib\Server;

class TaskrouterV1TaskReservationApi extends BaseApi
{
    /**
     * Tasks reserved for workers
     *
     * @param string $workspaceSid The SID of the Workspace with the TaskReservation resources to
     *        read.
     * @param string $taskSid The SID of the reserved Task resource with the TaskReservation
     *        resources to read.
     * @param string|null $reservationStatus Returns the list of reservations for a task with a
     *        specified ReservationStatus.  Can be: `pending`, `accepted`, `rejected`, or
     *        `timeout`.
     * @param string|null $workerSid The SID of the reserved Worker resource to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTaskReservation(
        string $workspaceSid,
        string $taskSid,
        ?string $reservationStatus = null,
        ?string $workerSid = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('TaskSid', $taskSid)->required(),
                QueryParam::init('ReservationStatus', $reservationStatus)
                    ->serializeBy([TaskReservationStatus::class, 'checkValue']),
                QueryParam::init('WorkerSid', $workerSid),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListTaskReservationResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Tasks reserved for workers
     *
     * @param string $workspaceSid The SID of the Workspace with the TaskReservation resource to
     *        fetch.
     * @param string $taskSid The SID of the reserved Task resource with the TaskReservation
     *        resource to fetch.
     * @param string $sid The SID of the TaskReservation resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTaskReservation(string $workspaceSid, string $taskSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('TaskSid', $taskSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(TaskReservation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Tasks reserved for workers
     *
     * @param string $workspaceSid The SID of the Workspace with the TaskReservation resources to
     *        update.
     * @param string $taskSid The SID of the reserved Task resource with the TaskReservation
     *        resources to update.
     * @param string $sid The SID of the TaskReservation resource to update.
     * @param string|null $ifMatch The If-Match HTTP request header
     * @param string|null $reservationStatus The current status of the reservation. Can be:
     *        `pending`, `accepted`, `rejected`, or `timeout`.
     * @param string|null $workerActivitySid The new worker activity SID if rejecting a reservation.
     * @param string|null $instruction The assignment instruction for reservation.
     * @param string|null $dequeuePostWorkActivitySid The SID of the Activity resource to start
     *        after executing a Dequeue instruction.
     * @param string|null $dequeueFrom The Caller ID of the call to the worker when executing a
     *        Dequeue instruction.
     * @param string|null $dequeueRecord Whether to record both legs of a call when executing a
     *        Dequeue instruction or which leg to record.
     * @param int|null $dequeueTimeout Timeout for call when executing a Dequeue instruction.
     * @param string|null $dequeueTo The Contact URI of the worker when executing a Dequeue
     *        instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP,
     *        or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone
     *        number, depending on the destination.
     * @param string|null $dequeueStatusCallbackUrl The Callback URL for completed call event when
     *        executing a Dequeue instruction.
     * @param string|null $callFrom The Caller ID of the outbound call when executing a Call
     *        instruction.
     * @param string|null $callRecord Whether to record both legs of a call when executing a Call
     *        instruction or which leg to record.
     * @param int|null $callTimeout Timeout for call when executing a Call instruction.
     * @param string|null $callTo The Contact URI of the worker when executing a Call instruction.
     *        Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.
     *        164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number,
     *        depending on the destination.
     * @param string|null $callUrl TwiML URI executed on answering the worker's leg as a result of
     *        the Call instruction.
     * @param string|null $callStatusCallbackUrl The URL to call for the completed call event when
     *        executing a Call instruction.
     * @param bool|null $callAccept Whether to accept a reservation when executing a Call
     *        instruction.
     * @param string|null $redirectCallSid The Call SID of the call parked in the queue when
     *        executing a Redirect instruction.
     * @param bool|null $redirectAccept Whether the reservation should be accepted when executing a
     *        Redirect instruction.
     * @param string|null $redirectUrl TwiML URI to redirect the call to when executing the Redirect
     *        instruction.
     * @param string|null $to The Contact URI of the worker when executing a Conference instruction.
     *        Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.
     *        164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number,
     *        depending on the destination.
     * @param string|null $from The Caller ID of the call to the worker when executing a Conference
     *        instruction.
     * @param string|null $statusCallback The URL we should call using the `status_callback_method`
     *        to send status information to your application.
     * @param string|null $statusCallbackMethod The HTTP method we should use to call
     *        `status_callback`. Can be: `POST` or `GET` and the default is `POST`.
     * @param string[]|null $statusCallbackEvent The call progress events that we will send to
     *        `status_callback`. Can be: `initiated`, `ringing`, `answered`, or `completed`.
     * @param int|null $timeout Timeout for call when executing a Conference instruction.
     * @param bool|null $record Whether to record the participant and their conferences, including
     *        the time between conferences. The default is `false`.
     * @param bool|null $muted Whether the agent is muted in the conference. The default is `false`.
     * @param string|null $beep Whether to play a notification beep when the participant joins or
     *        when to play a beep. Can be: `true`, `false`, `onEnter`, or `onExit`. The default
     *        value is `true`.
     * @param bool|null $startConferenceOnEnter Whether to start the conference when the participant
     *        joins, if it has not already started. The default is `true`. If `false` and the
     *        conference has not started, the participant is muted and hears background music
     *        until another participant starts the conference.
     * @param bool|null $endConferenceOnExit Whether to end the conference when the agent leaves.
     * @param string|null $waitUrl The URL we should call using the `wait_method` for the music to
     *        play while participants are waiting for the conference to start. The default value
     *        is the URL of our standard hold music. [Learn more about hold music](https://www.
     *        twilio.com/labs/twimlets/holdmusic).
     * @param string|null $waitMethod The HTTP method we should use to call `wait_url`. Can be `GET`
     *        or `POST` and the default is `POST`. When using a static audio file, this should be
     *        `GET` so that we can cache the file.
     * @param bool|null $earlyMedia Whether to allow an agent to hear the state of the outbound
     *        call, including ringing or disconnect messages. The default is `true`.
     * @param int|null $maxParticipants The maximum number of participants in the conference. Can be
     *        a positive integer from `2` to `250`. The default value is `250`.
     * @param string|null $conferenceStatusCallback The URL we should call using the
     *        `conference_status_callback_method` when the conference events in
     *        `conference_status_callback_event` occur. Only the value set by the first
     *        participant to join the conference is used. Subsequent `conference_status_callback`
     *        values are ignored.
     * @param string|null $conferenceStatusCallbackMethod The HTTP method we should use to call
     *        `conference_status_callback`. Can be: `GET` or `POST` and defaults to `POST`.
     * @param string[]|null $conferenceStatusCallbackEvent The conference status events that we will
     *        send to `conference_status_callback`. Can be: `start`, `end`, `join`, `leave`,
     *        `mute`, `hold`, `speaker`.
     * @param string|null $conferenceRecord Whether to record the conference the participant is
     *        joining or when to record the conference. Can be: `true`, `false`, `record-from-
     *        start`, and `do-not-record`. The default value is `false`.
     * @param string|null $conferenceTrim How to trim the leading and trailing silence from your
     *        recorded conference audio files. Can be: `trim-silence` or `do-not-trim` and
     *        defaults to `trim-silence`.
     * @param string|null $recordingChannels The recording channels for the final recording. Can be:
     *        `mono` or `dual` and the default is `mono`.
     * @param string|null $recordingStatusCallback The URL that we should call using the
     *        `recording_status_callback_method` when the recording status changes.
     * @param string|null $recordingStatusCallbackMethod The HTTP method we should use when we call
     *        `recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`.
     * @param string|null $conferenceRecordingStatusCallback The URL we should call using the
     *        `conference_recording_status_callback_method` when the conference recording is
     *        available.
     * @param string|null $conferenceRecordingStatusCallbackMethod The HTTP method we should use to
     *        call `conference_recording_status_callback`. Can be: `GET` or `POST` and defaults to
     *        `POST`.
     * @param string|null $region The
     *        [region](https://support.twilio.com/hc/en-us/articles/223132167-How-global-low-
     *        latency-routing-and-region-selection-work-for-conferences-and-Client-calls) where we
     *        should mix the recorded audio. Can be:`us1`, `us2`, `ie1`, `de1`, `sg1`, `br1`,
     *        `au1`, or `jp1`.
     * @param string|null $sipAuthUsername The SIP username used for authentication.
     * @param string|null $sipAuthPassword The SIP password for authentication.
     * @param string[]|null $dequeueStatusCallbackEvent The Call progress events sent via webhooks
     *        as a result of a Dequeue instruction.
     * @param string|null $postWorkActivitySid The new worker activity SID after executing a
     *        Conference instruction.
     * @param string|null $supervisorMode
     * @param string|null $supervisor The Supervisor SID/URI when executing the Supervise
     *        instruction.
     * @param bool|null $endConferenceOnCustomerExit Whether to end the conference when the customer
     *        leaves.
     * @param bool|null $beepOnCustomerEntrance Whether to play a notification beep when the
     *        customer joins.
     * @param string|null $jitterBufferSize The jitter buffer size for conference. Can be: `small`,
     *        `medium`, `large`, `off`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateTaskReservation(
        string $workspaceSid,
        string $taskSid,
        string $sid,
        ?string $ifMatch = null,
        ?string $reservationStatus = null,
        ?string $workerActivitySid = null,
        ?string $instruction = null,
        ?string $dequeuePostWorkActivitySid = null,
        ?string $dequeueFrom = null,
        ?string $dequeueRecord = null,
        ?int $dequeueTimeout = null,
        ?string $dequeueTo = null,
        ?string $dequeueStatusCallbackUrl = null,
        ?string $callFrom = null,
        ?string $callRecord = null,
        ?int $callTimeout = null,
        ?string $callTo = null,
        ?string $callUrl = null,
        ?string $callStatusCallbackUrl = null,
        ?bool $callAccept = null,
        ?string $redirectCallSid = null,
        ?bool $redirectAccept = null,
        ?string $redirectUrl = null,
        ?string $to = null,
        ?string $from = null,
        ?string $statusCallback = null,
        ?string $statusCallbackMethod = null,
        ?array $statusCallbackEvent = null,
        ?int $timeout = null,
        ?bool $record = null,
        ?bool $muted = null,
        ?string $beep = null,
        ?bool $startConferenceOnEnter = null,
        ?bool $endConferenceOnExit = null,
        ?string $waitUrl = null,
        ?string $waitMethod = null,
        ?bool $earlyMedia = null,
        ?int $maxParticipants = null,
        ?string $conferenceStatusCallback = null,
        ?string $conferenceStatusCallbackMethod = null,
        ?array $conferenceStatusCallbackEvent = null,
        ?string $conferenceRecord = null,
        ?string $conferenceTrim = null,
        ?string $recordingChannels = null,
        ?string $recordingStatusCallback = null,
        ?string $recordingStatusCallbackMethod = null,
        ?string $conferenceRecordingStatusCallback = null,
        ?string $conferenceRecordingStatusCallbackMethod = null,
        ?string $region = null,
        ?string $sipAuthUsername = null,
        ?string $sipAuthPassword = null,
        ?array $dequeueStatusCallbackEvent = null,
        ?string $postWorkActivitySid = null,
        ?string $supervisorMode = null,
        ?string $supervisor = null,
        ?bool $endConferenceOnCustomerExit = null,
        ?bool $beepOnCustomerEntrance = null,
        ?string $jitterBufferSize = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('TaskSid', $taskSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('If-Match', $ifMatch),
                FormParam::init('ReservationStatus', $reservationStatus)
                    ->serializeBy([TaskReservationStatus::class, 'checkValue']),
                FormParam::init('WorkerActivitySid', $workerActivitySid),
                FormParam::init('Instruction', $instruction),
                FormParam::init('DequeuePostWorkActivitySid', $dequeuePostWorkActivitySid),
                FormParam::init('DequeueFrom', $dequeueFrom),
                FormParam::init('DequeueRecord', $dequeueRecord),
                FormParam::init('DequeueTimeout', $dequeueTimeout),
                FormParam::init('DequeueTo', $dequeueTo),
                FormParam::init('DequeueStatusCallbackUrl', $dequeueStatusCallbackUrl),
                FormParam::init('CallFrom', $callFrom),
                FormParam::init('CallRecord', $callRecord),
                FormParam::init('CallTimeout', $callTimeout),
                FormParam::init('CallTo', $callTo),
                FormParam::init('CallUrl', $callUrl),
                FormParam::init('CallStatusCallbackUrl', $callStatusCallbackUrl),
                FormParam::init('CallAccept', $callAccept),
                FormParam::init('RedirectCallSid', $redirectCallSid),
                FormParam::init('RedirectAccept', $redirectAccept),
                FormParam::init('RedirectUrl', $redirectUrl),
                FormParam::init('To', $to),
                FormParam::init('From', $from),
                FormParam::init('StatusCallback', $statusCallback),
                FormParam::init('StatusCallbackMethod', $statusCallbackMethod)
                    ->serializeBy([ConfigurationWebhookMethod::class, 'checkValue']),
                FormParam::init('StatusCallbackEvent', $statusCallbackEvent)
                    ->serializeBy([TaskReservationCallStatus::class, 'checkValue']),
                FormParam::init('Timeout', $timeout),
                FormParam::init('Record', $record),
                FormParam::init('Muted', $muted),
                FormParam::init('Beep', $beep),
                FormParam::init('StartConferenceOnEnter', $startConferenceOnEnter),
                FormParam::init('EndConferenceOnExit', $endConferenceOnExit),
                FormParam::init('WaitUrl', $waitUrl),
                FormParam::init('WaitMethod', $waitMethod)
                    ->serializeBy([ConfigurationWebhookMethod::class, 'checkValue']),
                FormParam::init('EarlyMedia', $earlyMedia),
                FormParam::init('MaxParticipants', $maxParticipants),
                FormParam::init('ConferenceStatusCallback', $conferenceStatusCallback),
                FormParam::init('ConferenceStatusCallbackMethod', $conferenceStatusCallbackMethod)
                    ->serializeBy([ConfigurationWebhookMethod::class, 'checkValue']),
                FormParam::init('ConferenceStatusCallbackEvent', $conferenceStatusCallbackEvent)
                    ->serializeBy([TaskReservationConferenceEvent::class, 'checkValue']),
                FormParam::init('ConferenceRecord', $conferenceRecord),
                FormParam::init('ConferenceTrim', $conferenceTrim),
                FormParam::init('RecordingChannels', $recordingChannels),
                FormParam::init('RecordingStatusCallback', $recordingStatusCallback),
                FormParam::init('RecordingStatusCallbackMethod', $recordingStatusCallbackMethod)
                    ->serializeBy([ConfigurationWebhookMethod::class, 'checkValue']),
                FormParam::init('ConferenceRecordingStatusCallback', $conferenceRecordingStatusCallback),
                FormParam::init(
                    'ConferenceRecordingStatusCallbackMethod',
                    $conferenceRecordingStatusCallbackMethod
                )->serializeBy([ConfigurationWebhookMethod::class, 'checkValue']),
                FormParam::init('Region', $region),
                FormParam::init('SipAuthUsername', $sipAuthUsername),
                FormParam::init('SipAuthPassword', $sipAuthPassword),
                FormParam::init('DequeueStatusCallbackEvent', $dequeueStatusCallbackEvent),
                FormParam::init('PostWorkActivitySid', $postWorkActivitySid),
                FormParam::init('SupervisorMode', $supervisorMode)
                    ->serializeBy([TaskReservationSupervisorMode::class, 'checkValue']),
                FormParam::init('Supervisor', $supervisor),
                FormParam::init('EndConferenceOnCustomerExit', $endConferenceOnCustomerExit),
                FormParam::init('BeepOnCustomerEntrance', $beepOnCustomerEntrance),
                FormParam::init('JitterBufferSize', $jitterBufferSize)
            );

        $_resHandler = $this->responseHandler()->type(TaskReservation::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
