<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListWorkspaceResponse;
use TwilioApIsLib\Models\Workspace;
use TwilioApIsLib\Models\WorkspaceQueueOrder;
use TwilioApIsLib\Server;

class TaskrouterV1WorkspaceApi extends BaseApi
{
    /**
     * @param string $sid The SID of the Workspace resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkspace(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->type(Workspace::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $sid The SID of the Workspace resource to update.
     * @param string|null $defaultActivitySid The SID of the Activity that will be used when new
     *        Workers are created in the Workspace.
     * @param string|null $eventCallbackUrl The URL we should call when an event occurs. See
     *        [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more
     *        information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection
     *        Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides).
     * @param string|null $eventsFilter The list of Workspace events for which to call
     *        event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.
     *        activity.update`, then TaskRouter will call event_callback_url only when a task is
     *        created, canceled, or a Worker activity is updated.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        Workspace resource. For example: `Sales Call Center` or `Customer Support Team`.
     * @param bool|null $multiTaskEnabled Whether to enable multi-tasking. Can be: `true` to enable
     *        multi-tasking, or `false` to disable it. However, all workspaces should be
     *        maintained as multi-tasking. There is no default when omitting this parameter. A
     *        multi-tasking Workspace can't be updated to single-tasking unless it is not a Flex
     *        Project and another (legacy) single-tasking Workspace exists. Multi-tasking allows
     *        Workers to handle multiple Tasks simultaneously. In multi-tasking mode, each Worker
     *        can receive parallel reservations up to the per-channel maximums defined in the
     *        Workers section. In single-tasking mode (legacy mode), each Worker will only receive
     *        a new reservation when the previous task is completed. Learn more at
     *        [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).
     * @param string|null $timeoutActivitySid The SID of the Activity that will be assigned to a
     *        Worker when a Task reservation times out without a response.
     * @param string|null $prioritizeQueueOrder The type of TaskQueue to prioritize when Workers are
     *        receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the
     *        default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.
     *        com/docs/taskrouter/queue-ordering-last-first-out-lifo).
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWorkspace(
        string $sid,
        ?string $defaultActivitySid = null,
        ?string $eventCallbackUrl = null,
        ?string $eventsFilter = null,
        ?string $friendlyName = null,
        ?bool $multiTaskEnabled = null,
        ?string $timeoutActivitySid = null,
        ?string $prioritizeQueueOrder = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('DefaultActivitySid', $defaultActivitySid),
                FormParam::init('EventCallbackUrl', $eventCallbackUrl),
                FormParam::init('EventsFilter', $eventsFilter),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('MultiTaskEnabled', $multiTaskEnabled),
                FormParam::init('TimeoutActivitySid', $timeoutActivitySid),
                FormParam::init('PrioritizeQueueOrder', $prioritizeQueueOrder)
                    ->serializeBy([WorkspaceQueueOrder::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->type(Workspace::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $sid The SID of the Workspace resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteWorkspace(string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Workspaces/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(TemplateParam::init('Sid', $sid)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string|null $friendlyName The `friendly_name` of the Workspace resources to read. For
     *        example `Customer Support` or `2014 Election Campaign`.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listWorkspace(
        ?string $friendlyName = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListWorkspaceResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $friendlyName A descriptive string that you create to describe the Workspace
     *        resource. It can be up to 64 characters long. For example: `Customer Support` or
     *        `2014 Election Campaign`.
     * @param string|null $eventCallbackUrl The URL we should call when an event occurs. If
     *        provided, the Workspace will publish events to this URL, for example, to collect
     *        data for reporting. See [Workspace Events](https://www.twilio.
     *        com/docs/taskrouter/api/event) for more information. This parameter supports
     *        Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.
     *        com/docs/usage/webhooks/webhooks-connection-overrides).
     * @param string|null $eventsFilter The list of Workspace events for which to call
     *        event_callback_url. For example, if `EventsFilter=task.created, task.canceled,
     *        worker.activity.update`, then TaskRouter will call event_callback_url only when a
     *        task is created, canceled, or a Worker activity is updated.
     * @param bool|null $multiTaskEnabled Whether to enable multi-tasking. Can be: `true` to enable
     *        multi-tasking, or `false` to disable it. However, all workspaces should be created
     *        as multi-tasking. The default is `true`. Multi-tasking allows Workers to handle
     *        multiple Tasks simultaneously. When enabled (`true`), each Worker can receive
     *        parallel reservations up to the per-channel maximums defined in the Workers section.
     *        In single-tasking mode (legacy mode), each Worker will only receive a new
     *        reservation when the previous task is completed. Learn more at [Multitasking](https:
     *        //www.twilio.com/docs/taskrouter/multitasking).
     * @param string|null $template An available template name. Can be: `NONE` or `FIFO` and the
     *        default is `NONE`. Pre-configures the Workspace with the Workflow and Activities
     *        specified in the template. `NONE` will create a Workspace with only a set of default
     *        activities. `FIFO` will configure TaskRouter with a set of default activities and a
     *        single TaskQueue for first-in, first-out distribution, which can be useful when you
     *        are getting started with TaskRouter.
     * @param string|null $prioritizeQueueOrder The type of TaskQueue to prioritize when Workers are
     *        receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the
     *        default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.
     *        com/docs/taskrouter/queue-ordering-last-first-out-lifo).
     *
     * @return ApiResponse Response from the API call
     */
    public function createWorkspace(
        string $friendlyName,
        ?string $eventCallbackUrl = null,
        ?string $eventsFilter = null,
        ?bool $multiTaskEnabled = null,
        ?string $template = null,
        ?string $prioritizeQueueOrder = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('EventCallbackUrl', $eventCallbackUrl),
                FormParam::init('EventsFilter', $eventsFilter),
                FormParam::init('MultiTaskEnabled', $multiTaskEnabled),
                FormParam::init('Template', $template),
                FormParam::init('PrioritizeQueueOrder', $prioritizeQueueOrder)
                    ->serializeBy([WorkspaceQueueOrder::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->type(Workspace::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
