<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListTaskQueuesStatisticsResponse;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1TaskQueuesStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueues to read.
     * @param \DateTime|null $endDate Only calculate statistics from this date and time and earlier,
     *        specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
     * @param string|null $friendlyName The `friendly_name` of the TaskQueue statistics to read.
     * @param int|null $minutes Only calculate statistics since this many minutes in the past. The
     *        default is 15 minutes.
     * @param \DateTime|null $startDate Only calculate statistics from this date and time and later,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
     * @param string|null $taskChannel Only calculate statistics on this TaskChannel. Can be the
     *        TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     * @param string|null $splitByWaitTime A comma separated list of values that describes the
     *        thresholds, in seconds, to calculate statistics on. For each threshold specified,
     *        the number of Tasks canceled and reservations accepted above and below the specified
     *        thresholds in seconds are computed.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTaskQueuesStatistics(
        string $workspaceSid,
        ?\DateTime $endDate = null,
        ?string $friendlyName = null,
        ?int $minutes = null,
        ?\DateTime $startDate = null,
        ?string $taskChannel = null,
        ?string $splitByWaitTime = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/TaskQueues/Statistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('Minutes', $minutes),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('TaskChannel', $taskChannel),
                QueryParam::init('SplitByWaitTime', $splitByWaitTime),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListTaskQueuesStatisticsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
