<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\WorkerStatistics;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1WorkersStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Worker to fetch.
     * @param int|null $minutes Only calculate statistics since this many minutes in the past. The
     *        default 15 minutes. This is helpful for displaying statistics for the last 15
     *        minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.
     * @param \DateTime|null $startDate Only calculate statistics from this date and time and later,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
     * @param \DateTime|null $endDate Only calculate statistics from this date and time and earlier,
     *        specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
     * @param string|null $taskQueueSid The SID of the TaskQueue for which to fetch Worker
     *        statistics.
     * @param string|null $taskQueueName The `friendly_name` of the TaskQueue for which to fetch
     *        Worker statistics.
     * @param string|null $friendlyName Only include Workers with `friendly_name` values that match
     *        this parameter.
     * @param string|null $taskChannel Only calculate statistics on this TaskChannel. Can be the
     *        TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkerStatistics(
        string $workspaceSid,
        ?int $minutes = null,
        ?\DateTime $startDate = null,
        ?\DateTime $endDate = null,
        ?string $taskQueueSid = null,
        ?string $taskQueueName = null,
        ?string $friendlyName = null,
        ?string $taskChannel = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workers/Statistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('Minutes', $minutes),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('TaskQueueSid', $taskQueueSid),
                QueryParam::init('TaskQueueName', $taskQueueName),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('TaskChannel', $taskChannel)
            );

        $_resHandler = $this->responseHandler()->type(WorkerStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
