<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\TaskQueueRealTimeStatistics;
use TwilioApIsLib\Server;

class TaskrouterV1TaskQueueRealTimeStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to fetch.
     * @param string $taskQueueSid The SID of the TaskQueue for which to fetch statistics.
     * @param string|null $taskChannel The TaskChannel for which to fetch statistics. Can be the
     *        TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTaskQueueRealTimeStatistics(
        string $workspaceSid,
        string $taskQueueSid,
        ?string $taskChannel = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/RealTimeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('TaskQueueSid', $taskQueueSid)->required(),
                QueryParam::init('TaskChannel', $taskChannel)
            );

        $_resHandler = $this->responseHandler()->type(TaskQueueRealTimeStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
