<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListTaskChannelResponse;
use TwilioApIsLib\Models\TaskChannel;
use TwilioApIsLib\Server;

class TaskrouterV1TaskChannelApi extends BaseApi
{
    /**
     * Types of tasks
     *
     * @param string $workspaceSid The SID of the Workspace with the Task Channel to fetch.
     * @param string $sid The SID of the Task Channel resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTaskChannel(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(TaskChannel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Types of tasks
     *
     * @param string $workspaceSid The SID of the Workspace with the Task Channel to update.
     * @param string $sid The SID of the Task Channel resource to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the Task
     *        Channel. It can be up to 64 characters long.
     * @param bool|null $channelOptimizedRouting Whether the TaskChannel should prioritize Workers
     *        that have been idle. If `true`, Workers that have been idle the longest are
     *        prioritized.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateTaskChannel(
        string $workspaceSid,
        string $sid,
        ?string $friendlyName = null,
        ?bool $channelOptimizedRouting = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('ChannelOptimizedRouting', $channelOptimizedRouting)
            );

        $_resHandler = $this->responseHandler()->type(TaskChannel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Types of tasks
     *
     * @param string $workspaceSid The SID of the Workspace with the Task Channel to delete.
     * @param string $sid The SID of the Task Channel resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteTaskChannel(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Types of tasks
     *
     * @param string $workspaceSid The SID of the Workspace with the Task Channel to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTaskChannel(
        string $workspaceSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/TaskChannels')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListTaskChannelResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Types of tasks
     *
     * @param string $workspaceSid The SID of the Workspace that the new Task Channel belongs to.
     * @param string $friendlyName A descriptive string that you create to describe the Task
     *        Channel. It can be up to 64 characters long.
     * @param string $uniqueName An application-defined string that uniquely identifies the Task
     *        Channel, such as `voice` or `sms`.
     * @param bool|null $channelOptimizedRouting Whether the Task Channel should prioritize Workers
     *        that have been idle. If `true`, Workers that have been idle the longest are
     *        prioritized.
     *
     * @return ApiResponse Response from the API call
     */
    public function createTaskChannel(
        string $workspaceSid,
        string $friendlyName,
        string $uniqueName,
        ?bool $channelOptimizedRouting = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/TaskChannels')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('UniqueName', $uniqueName)->required(),
                FormParam::init('ChannelOptimizedRouting', $channelOptimizedRouting)
            );

        $_resHandler = $this->responseHandler()->type(TaskChannel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
