<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListWorkflowResponse;
use TwilioApIsLib\Models\Workflow;
use TwilioApIsLib\Server;

class TaskrouterV1WorkflowApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Workflow to fetch.
     * @param string $sid The SID of the Workflow resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkflow(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(Workflow::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Workflow to update.
     * @param string $sid The SID of the Workflow resource to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        Workflow resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`.
     * @param string|null $assignmentCallbackUrl The URL from your application that will process
     *        task assignment events. See [Handling Task Assignment Callback](https://www.twilio.
     *        com/docs/taskrouter/handle-assignment-callbacks) for more details.
     * @param string|null $fallbackAssignmentCallbackUrl The URL that we should call when a call to
     *        the `assignment_callback_url` fails.
     * @param string|null $configuration A JSON string that contains the rules to apply to the
     *        Workflow. See [Configuring Workflows](https://www.twilio.
     *        com/docs/taskrouter/workflow-configuration) for more information.
     * @param int|null $taskReservationTimeout How long TaskRouter will wait for a confirmation
     *        response from your application after it assigns a Task to a Worker. Can be up to `86,
     *        400` (24 hours) and the default is `120`.
     * @param string|null $reEvaluateTasks Whether or not to re-evaluate Tasks. The default is
     *        `false`, which means Tasks in the Workflow will not be processed through the
     *        assignment loop again.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWorkflow(
        string $workspaceSid,
        string $sid,
        ?string $friendlyName = null,
        ?string $assignmentCallbackUrl = null,
        ?string $fallbackAssignmentCallbackUrl = null,
        ?string $configuration = null,
        ?int $taskReservationTimeout = null,
        ?string $reEvaluateTasks = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('AssignmentCallbackUrl', $assignmentCallbackUrl),
                FormParam::init('FallbackAssignmentCallbackUrl', $fallbackAssignmentCallbackUrl),
                FormParam::init('Configuration', $configuration),
                FormParam::init('TaskReservationTimeout', $taskReservationTimeout),
                FormParam::init('ReEvaluateTasks', $reEvaluateTasks)
            );

        $_resHandler = $this->responseHandler()->type(Workflow::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Workflow to delete.
     * @param string $sid The SID of the Workflow resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteWorkflow(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Workflow to read.
     * @param string|null $friendlyName The `friendly_name` of the Workflow resources to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listWorkflow(
        string $workspaceSid,
        ?string $friendlyName = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Workflows')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListWorkflowResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace that the new Workflow to create belongs
     *        to.
     * @param string $friendlyName A descriptive string that you create to describe the Workflow
     *        resource. For example, `Inbound Call Workflow` or `2014 Outbound Campaign`.
     * @param string $configuration A JSON string that contains the rules to apply to the Workflow.
     *        See [Configuring Workflows](https://www.twilio.com/docs/taskrouter/workflow-
     *        configuration) for more information.
     * @param string|null $assignmentCallbackUrl The URL from your application that will process
     *        task assignment events. See [Handling Task Assignment Callback](https://www.twilio.
     *        com/docs/taskrouter/handle-assignment-callbacks) for more details.
     * @param string|null $fallbackAssignmentCallbackUrl The URL that we should call when a call to
     *        the `assignment_callback_url` fails.
     * @param int|null $taskReservationTimeout How long TaskRouter will wait for a confirmation
     *        response from your application after it assigns a Task to a Worker. Can be up to `86,
     *        400` (24 hours) and the default is `120`.
     *
     * @return ApiResponse Response from the API call
     */
    public function createWorkflow(
        string $workspaceSid,
        string $friendlyName,
        string $configuration,
        ?string $assignmentCallbackUrl = null,
        ?string $fallbackAssignmentCallbackUrl = null,
        ?int $taskReservationTimeout = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Workflows')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('Configuration', $configuration)->required(),
                FormParam::init('AssignmentCallbackUrl', $assignmentCallbackUrl),
                FormParam::init('FallbackAssignmentCallbackUrl', $fallbackAssignmentCallbackUrl),
                FormParam::init('TaskReservationTimeout', $taskReservationTimeout)
            );

        $_resHandler = $this->responseHandler()->type(Workflow::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
