<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListWorkerChannelResponse;
use TwilioApIsLib\Models\WorkerChannel;
use TwilioApIsLib\Server;

class TaskrouterV1WorkerChannelApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the WorkerChannels to read.
     * @param string $workerSid The SID of the Worker with the WorkerChannels to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listWorkerChannel(
        string $workspaceSid,
        string $workerSid,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('WorkerSid', $workerSid)->required(),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListWorkerChannelResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the WorkerChannel to fetch.
     * @param string $workerSid The SID of the Worker with the WorkerChannel to fetch.
     * @param string $sid The SID of the WorkerChannel to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkerChannel(string $workspaceSid, string $workerSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('WorkerSid', $workerSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(WorkerChannel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the WorkerChannel to update.
     * @param string $workerSid The SID of the Worker with the WorkerChannel to update.
     * @param string $sid The SID of the WorkerChannel to update.
     * @param int|null $capacity The total number of Tasks that the Worker should handle for the
     *        TaskChannel type. TaskRouter creates reservations for Tasks of this TaskChannel type
     *        up to the specified capacity. If the capacity is 0, no new reservations will be
     *        created.
     * @param bool|null $available Whether the WorkerChannel is available. Set to `false` to prevent
     *        the Worker from receiving any new Tasks of this TaskChannel type.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWorkerChannel(
        string $workspaceSid,
        string $workerSid,
        string $sid,
        ?int $capacity = null,
        ?bool $available = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('WorkerSid', $workerSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Capacity', $capacity),
                FormParam::init('Available', $available)
            );

        $_resHandler = $this->responseHandler()->type(WorkerChannel::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
