<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\TaskQueueBulkRealTimeStatistics;
use TwilioApIsLib\Server;

class TaskrouterV1TaskQueueBulkRealTimeStatisticsApi extends BaseApi
{
    /**
     * Fetch a Task Queue Real Time Statistics in bulk for the array of TaskQueue SIDs, support upto 50 in
     * a request.
     *
     * @param string $workspaceSid The unique SID identifier of the Workspace.
     * @param array|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createTaskQueueBulkRealTimeStatistics(string $workspaceSid, ?array $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/Workspaces/{WorkspaceSid}/TaskQueues/RealTimeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(TaskQueueBulkRealTimeStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
