<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListWorkerResponse;
use TwilioApIsLib\Models\Worker;
use TwilioApIsLib\Server;

class TaskrouterV1WorkerApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Workers to read.
     * @param string|null $activityName The `activity_name` of the Worker resources to read.
     * @param string|null $activitySid The `activity_sid` of the Worker resources to read.
     * @param string|null $available Whether to return only Worker resources that are available or
     *        unavailable. Can be `true`, `1`, or `yes` to return Worker resources that are
     *        available, and `false`, or any value returns the Worker resources that are not
     *        available.
     * @param string|null $friendlyName The `friendly_name` of the Worker resources to read.
     * @param string|null $targetWorkersExpression Filter by Workers that would match an expression.
     *        In addition to fields in the workers' attributes, the expression can include the
     *        following worker fields: `sid`, `friendly_name`, `activity_sid`, or `activity_name`
     * @param string|null $taskQueueName The `friendly_name` of the TaskQueue that the Workers to
     *        read are eligible for.
     * @param string|null $taskQueueSid The SID of the TaskQueue that the Workers to read are
     *        eligible for.
     * @param string|null $ordering Sorting parameter for Workers
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listWorker(
        string $workspaceSid,
        ?string $activityName = null,
        ?string $activitySid = null,
        ?string $available = null,
        ?string $friendlyName = null,
        ?string $targetWorkersExpression = null,
        ?string $taskQueueName = null,
        ?string $taskQueueSid = null,
        ?string $ordering = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Workers')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('ActivityName', $activityName),
                QueryParam::init('ActivitySid', $activitySid),
                QueryParam::init('Available', $available),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('TargetWorkersExpression', $targetWorkersExpression),
                QueryParam::init('TaskQueueName', $taskQueueName),
                QueryParam::init('TaskQueueSid', $taskQueueSid),
                QueryParam::init('Ordering', $ordering),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListWorkerResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace that the new Worker belongs to.
     * @param string $friendlyName A descriptive string that you create to describe the new Worker.
     *        It can be up to 64 characters long.
     * @param string|null $activitySid The SID of a valid Activity that will describe the new
     *        Worker's initial state. See [Activities](https://www.twilio.
     *        com/docs/taskrouter/api/activity) for more information. If not provided, the new
     *        Worker's initial state is the `default_activity_sid` configured on the Workspace.
     * @param string|null $attributes A valid JSON string that describes the new Worker. For
     *        example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is
     *        passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker.
     *        Defaults to {}.
     *
     * @return ApiResponse Response from the API call
     */
    public function createWorker(
        string $workspaceSid,
        string $friendlyName,
        ?string $activitySid = null,
        ?string $attributes = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Workers')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('ActivitySid', $activitySid),
                FormParam::init('Attributes', $attributes)
            );

        $_resHandler = $this->responseHandler()->type(Worker::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Worker to fetch.
     * @param string $sid The SID of the Worker resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorker(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(Worker::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Worker to update.
     * @param string $sid The SID of the Worker resource to update.
     * @param string|null $ifMatch The If-Match HTTP request header
     * @param string|null $activitySid The SID of a valid Activity that will describe the Worker's
     *        initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity)
     *        for more information.
     * @param string|null $attributes The JSON string that describes the Worker. For example: `{
     *        "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the
     *        `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to
     *        {}.
     * @param string|null $friendlyName A descriptive string that you create to describe the Worker.
     *        It can be up to 64 characters long.
     * @param bool|null $rejectPendingReservations Whether to reject the Worker's pending
     *        reservations. This option is only valid if the Worker's new [Activity](https://www.
     *        twilio.com/docs/taskrouter/api/activity) resource has its `availability` property
     *        set to `False`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateWorker(
        string $workspaceSid,
        string $sid,
        ?string $ifMatch = null,
        ?string $activitySid = null,
        ?string $attributes = null,
        ?string $friendlyName = null,
        ?bool $rejectPendingReservations = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('If-Match', $ifMatch),
                FormParam::init('ActivitySid', $activitySid),
                FormParam::init('Attributes', $attributes),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('RejectPendingReservations', $rejectPendingReservations)
            );

        $_resHandler = $this->responseHandler()->type(Worker::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Worker to delete.
     * @param string $sid The SID of the Worker resource to delete.
     * @param string|null $ifMatch The If-Match HTTP request header
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteWorker(string $workspaceSid, string $sid, ?string $ifMatch = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('If-Match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
