<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Activity;
use TwilioApIsLib\Models\ListActivityResponse;
use TwilioApIsLib\Server;

class TaskrouterV1ActivityApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Activity resources to fetch.
     * @param string $sid The SID of the Activity resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchActivity(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(Activity::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Activity resources to update.
     * @param string $sid The SID of the Activity resource to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        Activity resource. It can be up to 64 characters long. These names are used to
     *        calculate and expose statistics about Workers, and provide visibility into the state
     *        of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateActivity(string $workspaceSid, string $sid, ?string $friendlyName = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)
            );

        $_resHandler = $this->responseHandler()->type(Activity::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Activity resources to delete.
     * @param string $sid The SID of the Activity resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteActivity(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Activity resources to read.
     * @param string|null $friendlyName The `friendly_name` of the Activity resources to read.
     * @param string|null $available Whether return only Activity resources that are available or
     *        unavailable. A value of `true` returns only available activities. Values of '1' or
     *        `yes` also indicate `true`. All other values represent `false` and return activities
     *        that are unavailable.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listActivity(
        string $workspaceSid,
        ?string $friendlyName = null,
        ?string $available = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Activities')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('Available', $available),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListActivityResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace that the new Activity belongs to.
     * @param string $friendlyName A descriptive string that you create to describe the Activity
     *        resource. It can be up to 64 characters long. These names are used to calculate and
     *        expose statistics about Workers, and provide visibility into the state of each
     *        Worker. Examples of friendly names include: `on-call`, `break`, and `email`.
     * @param bool|null $available Whether the Worker should be eligible to receive a Task when it
     *        occupies the Activity. A value of `true`, `1`, or `yes` specifies the Activity is
     *        available. All other values specify that it is not. The value cannot be changed
     *        after the Activity is created.
     *
     * @return ApiResponse Response from the API call
     */
    public function createActivity(string $workspaceSid, string $friendlyName, ?bool $available = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Activities')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('Available', $available)
            );

        $_resHandler = $this->responseHandler()->type(Activity::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
