<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\WorkersRealTimeStatistics;
use TwilioApIsLib\Server;

class TaskrouterV1WorkersRealTimeStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the resource to fetch.
     * @param string|null $taskChannel Only calculate real-time statistics on this TaskChannel. Can
     *        be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkersRealTimeStatistics(string $workspaceSid, ?string $taskChannel = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workers/RealTimeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('TaskChannel', $taskChannel)
            );

        $_resHandler = $this->responseHandler()->type(WorkersRealTimeStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
