<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListTaskQueueResponse;
use TwilioApIsLib\Models\TaskQueue;
use TwilioApIsLib\Models\TaskQueueTaskOrder;
use TwilioApIsLib\Server;

class TaskrouterV1TaskQueueApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to fetch.
     * @param string $sid The SID of the TaskQueue resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTaskQueue(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(TaskQueue::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to update.
     * @param string $sid The SID of the TaskQueue resource to update.
     * @param string|null $friendlyName A descriptive string that you create to describe the
     *        TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.
     * @param string|null $targetWorkers A string describing the Worker selection criteria for any
     *        Tasks that enter the TaskQueue. For example '"language" == "spanish"' If no
     *        TargetWorkers parameter is provided, Tasks will wait in the queue until they are
     *        either deleted or moved to another queue. Additional examples on how to describing
     *        Worker selection criteria below.
     * @param string|null $reservationActivitySid The SID of the Activity to assign Workers when a
     *        task is reserved for them.
     * @param string|null $assignmentActivitySid The SID of the Activity to assign Workers when a
     *        task is assigned for them.
     * @param int|null $maxReservedWorkers The maximum number of Workers to create reservations for
     *        the assignment of a task while in the queue. Maximum of 50.
     * @param string|null $taskOrder How Tasks will be assigned to Workers. Set this parameter to
     *        `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest
     *        Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-
     *        ordering-last-first-out-lifo) to learn more.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateTaskQueue(
        string $workspaceSid,
        string $sid,
        ?string $friendlyName = null,
        ?string $targetWorkers = null,
        ?string $reservationActivitySid = null,
        ?string $assignmentActivitySid = null,
        ?int $maxReservedWorkers = null,
        ?string $taskOrder = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName),
                FormParam::init('TargetWorkers', $targetWorkers),
                FormParam::init('ReservationActivitySid', $reservationActivitySid),
                FormParam::init('AssignmentActivitySid', $assignmentActivitySid),
                FormParam::init('MaxReservedWorkers', $maxReservedWorkers),
                FormParam::init('TaskOrder', $taskOrder)->serializeBy([TaskQueueTaskOrder::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()->type(TaskQueue::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to delete.
     * @param string $sid The SID of the TaskQueue resource to delete.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteTaskQueue(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the TaskQueue to read.
     * @param string|null $friendlyName The `friendly_name` of the TaskQueue resources to read.
     * @param string|null $evaluateWorkerAttributes The attributes of the Workers to read. Returns
     *        the TaskQueues with Workers that match the attributes specified in this parameter.
     * @param string|null $workerSid The SID of the Worker with the TaskQueue resources to read.
     * @param string|null $ordering Sorting parameter for TaskQueues
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTaskQueue(
        string $workspaceSid,
        ?string $friendlyName = null,
        ?string $evaluateWorkerAttributes = null,
        ?string $workerSid = null,
        ?string $ordering = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/TaskQueues')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('FriendlyName', $friendlyName),
                QueryParam::init('EvaluateWorkerAttributes', $evaluateWorkerAttributes),
                QueryParam::init('WorkerSid', $workerSid),
                QueryParam::init('Ordering', $ordering),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListTaskQueueResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace that the new TaskQueue belongs to.
     * @param string $friendlyName A descriptive string that you create to describe the TaskQueue.
     *        For example `Support-Tier 1`, `Sales`, or `Escalation`.
     * @param string|null $targetWorkers A string that describes the Worker selection criteria for
     *        any Tasks that enter the TaskQueue. For example, `'"language" == "spanish"'`. The
     *        default value is `1==1`. If this value is empty, Tasks will wait in the TaskQueue
     *        until they are deleted or moved to another TaskQueue. For more information about
     *        Worker selection, see [Describing Worker selection criteria](https://www.twilio.
     *        com/docs/taskrouter/api/taskqueues#target-workers).
     * @param int|null $maxReservedWorkers The maximum number of Workers to reserve for the
     *        assignment of a Task in the queue. Can be an integer between 1 and 50, inclusive and
     *        defaults to 1.
     * @param string|null $taskOrder How Tasks will be assigned to Workers. Set this parameter to
     *        `LIFO` to assign most recently created Task first or `FIFO` to assign the oldest
     *        Task. Default is FIFO. [Click here](https://www.twilio.com/docs/taskrouter/queue-
     *        ordering-last-first-out-lifo) to learn more.
     * @param string|null $reservationActivitySid The SID of the Activity to assign Workers when a
     *        task is reserved for them.
     * @param string|null $assignmentActivitySid The SID of the Activity to assign Workers when a
     *        task is assigned to them.
     *
     * @return ApiResponse Response from the API call
     */
    public function createTaskQueue(
        string $workspaceSid,
        string $friendlyName,
        ?string $targetWorkers = null,
        ?int $maxReservedWorkers = null,
        ?string $taskOrder = null,
        ?string $reservationActivitySid = null,
        ?string $assignmentActivitySid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/TaskQueues')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('FriendlyName', $friendlyName)->required(),
                FormParam::init('TargetWorkers', $targetWorkers),
                FormParam::init('MaxReservedWorkers', $maxReservedWorkers),
                FormParam::init('TaskOrder', $taskOrder)->serializeBy([TaskQueueTaskOrder::class, 'checkValue']),
                FormParam::init('ReservationActivitySid', $reservationActivitySid),
                FormParam::init('AssignmentActivitySid', $assignmentActivitySid)
            );

        $_resHandler = $this->responseHandler()->type(TaskQueue::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
