<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Event;
use TwilioApIsLib\Models\ListEventResponse;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1EventApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Event to fetch.
     * @param string $sid The SID of the Event resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchEvent(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Events/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(Event::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Events to read. Returns only
     *        the Events that pertain to the specified Workspace.
     * @param \DateTime|null $endDate Only include Events that occurred on or before this date,
     *        specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
     * @param string|null $eventType The type of Events to read. Returns only Events of the type
     *        specified.
     * @param int|null $minutes The period of events to read in minutes. Returns only Events that
     *        occurred since this many minutes in the past. The default is `15` minutes. Task
     *        Attributes for Events occuring more 43,200 minutes ago will be redacted.
     * @param string|null $reservationSid The SID of the Reservation with the Events to read.
     *        Returns only Events that pertain to the specified Reservation.
     * @param \DateTime|null $startDate Only include Events from on or after this date and time,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task
     *        Attributes for Events older than 30 days will be redacted.
     * @param string|null $taskQueueSid The SID of the TaskQueue with the Events to read. Returns
     *        only the Events that pertain to the specified TaskQueue.
     * @param string|null $taskSid The SID of the Task with the Events to read. Returns only the
     *        Events that pertain to the specified Task.
     * @param string|null $workerSid The SID of the Worker with the Events to read. Returns only the
     *        Events that pertain to the specified Worker.
     * @param string|null $workflowSid The SID of the Workflow with the Events to read. Returns only
     *        the Events that pertain to the specified Workflow.
     * @param string|null $taskChannel The TaskChannel with the Events to read. Returns only the
     *        Events that pertain to the specified TaskChannel.
     * @param string|null $sid The SID of the Event resource to read.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listEvent(
        string $workspaceSid,
        ?\DateTime $endDate = null,
        ?string $eventType = null,
        ?int $minutes = null,
        ?string $reservationSid = null,
        ?\DateTime $startDate = null,
        ?string $taskQueueSid = null,
        ?string $taskSid = null,
        ?string $workerSid = null,
        ?string $workflowSid = null,
        ?string $taskChannel = null,
        ?string $sid = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Events')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('EventType', $eventType),
                QueryParam::init('Minutes', $minutes),
                QueryParam::init('ReservationSid', $reservationSid),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('TaskQueueSid', $taskQueueSid),
                QueryParam::init('TaskSid', $taskSid),
                QueryParam::init('WorkerSid', $workerSid),
                QueryParam::init('WorkflowSid', $workflowSid),
                QueryParam::init('TaskChannel', $taskChannel),
                QueryParam::init('Sid', $sid),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListEventResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
