<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\WorkersCumulativeStatistics;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1WorkersCumulativeStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the resource to fetch.
     * @param \DateTime|null $endDate Only calculate statistics from this date and time and earlier,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
     * @param int|null $minutes Only calculate statistics since this many minutes in the past. The
     *        default 15 minutes. This is helpful for displaying statistics for the last 15
     *        minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.
     * @param \DateTime|null $startDate Only calculate statistics from this date and time and later,
     *        specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
     * @param string|null $taskChannel Only calculate cumulative statistics on this TaskChannel. Can
     *        be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkersCumulativeStatistics(
        string $workspaceSid,
        ?\DateTime $endDate = null,
        ?int $minutes = null,
        ?\DateTime $startDate = null,
        ?string $taskChannel = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workers/CumulativeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('EndDate', $endDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('Minutes', $minutes),
                QueryParam::init('StartDate', $startDate)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('TaskChannel', $taskChannel)
            );

        $_resHandler = $this->responseHandler()->type(WorkersCumulativeStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
