<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\WorkflowRealTimeStatistics;
use TwilioApIsLib\Server;

class TaskrouterV1WorkflowRealTimeStatisticsApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Workflow to fetch.
     * @param string $workflowSid Returns the list of Tasks that are being controlled by the
     *        Workflow with the specified SID value.
     * @param string|null $taskChannel Only calculate real-time statistics on this TaskChannel. Can
     *        be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchWorkflowRealTimeStatistics(
        string $workspaceSid,
        string $workflowSid,
        ?string $taskChannel = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/Workspaces/{WorkspaceSid}/Workflows/{WorkflowSid}/RealTimeStatistics'
        )
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('WorkflowSid', $workflowSid)->required(),
                QueryParam::init('TaskChannel', $taskChannel)
            );

        $_resHandler = $this->responseHandler()->type(WorkflowRealTimeStatistics::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
