<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\ListTaskResponse;
use TwilioApIsLib\Models\TaskRouterTask;
use TwilioApIsLib\Models\TaskStatus;
use TwilioApIsLib\Server;
use TwilioApIsLib\Utils\DateTimeHelper;

class TaskrouterV1TaskApi extends BaseApi
{
    /**
     * @param string $workspaceSid The SID of the Workspace with the Task to fetch.
     * @param string $sid The SID of the Task resource to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function fetchTask(string $workspaceSid, string $sid): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required()
            );

        $_resHandler = $this->responseHandler()->type(TaskRouterTask::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Task to update.
     * @param string $sid The SID of the Task resource to update.
     * @param string|null $ifMatch If provided, applies this mutation if (and only if) the
     *        [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the
     *        Task matches the provided value. This matches the semantics of (and is implemented
     *        with) the HTTP [If-Match header](https://developer.mozilla.org/en-
     *        US/docs/Web/HTTP/Headers/If-Match).
     * @param string|null $attributes The JSON string that describes the custom attributes of the
     *        task.
     * @param string|null $assignmentStatus The current status of the Task's assignment. Can be:
     *        `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`.
     * @param string|null $reason The reason that the Task was canceled or completed. This parameter
     *        is required only if the Task is canceled or completed. Setting this value queues the
     *        task for deletion and logs the reason.
     * @param int|null $priority The Task's new priority value. When supplied, the Task takes on the
     *        specified priority unless it matches a Workflow Target with a Priority set. Value
     *        can be 0 to 2^31^ (2,147,483,647).
     * @param string|null $taskChannel When MultiTasking is enabled, specify the TaskChannel with
     *        the task to update. Can be the TaskChannel's SID or its `unique_name`, such as
     *        `voice`, `sms`, or `default`.
     * @param \DateTime|null $virtualStartTime The task's new virtual start time value. When
     *        supplied, the Task takes on the specified virtual start time. Value can't be in the
     *        future or before the year of 1900.
     *
     * @return ApiResponse Response from the API call
     */
    public function updateTask(
        string $workspaceSid,
        string $sid,
        ?string $ifMatch = null,
        ?string $attributes = null,
        ?string $assignmentStatus = null,
        ?string $reason = null,
        ?int $priority = null,
        ?string $taskChannel = null,
        ?\DateTime $virtualStartTime = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                HeaderParam::init('If-Match', $ifMatch),
                FormParam::init('Attributes', $attributes),
                FormParam::init('AssignmentStatus', $assignmentStatus)->serializeBy([TaskStatus::class, 'checkValue']),
                FormParam::init('Reason', $reason),
                FormParam::init('Priority', $priority),
                FormParam::init('TaskChannel', $taskChannel),
                FormParam::init('VirtualStartTime', $virtualStartTime)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime'])
            );

        $_resHandler = $this->responseHandler()->type(TaskRouterTask::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Task to delete.
     * @param string $sid The SID of the Task resource to delete.
     * @param string|null $ifMatch If provided, deletes this Task if (and only if) the
     *        [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the
     *        Task matches the provided value. This matches the semantics of (and is implemented
     *        with) the HTTP [If-Match header](https://developer.mozilla.org/en-
     *        US/docs/Web/HTTP/Headers/If-Match).
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteTask(string $workspaceSid, string $sid, ?string $ifMatch = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                TemplateParam::init('Sid', $sid)->required(),
                HeaderParam::init('If-Match', $ifMatch)
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace with the Tasks to read.
     * @param int|null $priority The priority value of the Tasks to read. Returns the list of all
     *        Tasks in the Workspace with the specified priority.
     * @param string[]|null $assignmentStatus The `assignment_status` of the Tasks you want to read.
     *        Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`.
     *        Returns all Tasks in the Workspace with the specified `assignment_status`.
     * @param string|null $workflowSid The SID of the Workflow with the Tasks to read. Returns the
     *        Tasks controlled by the Workflow identified by this SID.
     * @param string|null $workflowName The friendly name of the Workflow with the Tasks to read.
     *        Returns the Tasks controlled by the Workflow identified by this friendly name.
     * @param string|null $taskQueueSid The SID of the TaskQueue with the Tasks to read. Returns the
     *        Tasks waiting in the TaskQueue identified by this SID.
     * @param string|null $taskQueueName The `friendly_name` of the TaskQueue with the Tasks to
     *        read. Returns the Tasks waiting in the TaskQueue identified by this friendly name.
     * @param string|null $evaluateTaskAttributes The attributes of the Tasks to read. Returns the
     *        Tasks that match the attributes specified in this parameter.
     * @param string|null $routingTarget A SID of a Worker, Queue, or Workflow to route a Task to
     * @param string|null $ordering How to order the returned Task resources. By default, Tasks are
     *        sorted by ascending DateCreated. This value is specified as: `Attribute:Order`,
     *        where `Attribute` can be either `DateCreated`, `Priority`, or `VirtualStartTime` and
     *        `Order` can be either `asc` or `desc`. For example, `Priority:desc` returns Tasks
     *        ordered in descending order of their Priority. Pairings of sort orders can be
     *        specified in a comma-separated list such as `Priority:desc,DateCreated:asc`, which
     *        returns the Tasks in descending Priority order and ascending DateCreated Order. The
     *        only ordering pairing not allowed is DateCreated and VirtualStartTime.
     * @param bool|null $hasAddons Whether to read Tasks with Add-ons. If `true`, returns only Tasks
     *        with Add-ons. If `false`, returns only Tasks without Add-ons.
     * @param int|null $pageSize How many resources to return in each list page. The default is 50,
     *        and the maximum is 1000.
     * @param int|null $page The page index. This value is simply for client state.
     * @param string|null $pageToken The page token. This is provided by the API.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTask(
        string $workspaceSid,
        ?int $priority = null,
        ?array $assignmentStatus = null,
        ?string $workflowSid = null,
        ?string $workflowName = null,
        ?string $taskQueueSid = null,
        ?string $taskQueueName = null,
        ?string $evaluateTaskAttributes = null,
        ?string $routingTarget = null,
        ?string $ordering = null,
        ?bool $hasAddons = null,
        ?int $pageSize = null,
        ?int $page = null,
        ?string $pageToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/Workspaces/{WorkspaceSid}/Tasks')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                QueryParam::init('Priority', $priority),
                QueryParam::init('AssignmentStatus', $assignmentStatus),
                QueryParam::init('WorkflowSid', $workflowSid),
                QueryParam::init('WorkflowName', $workflowName),
                QueryParam::init('TaskQueueSid', $taskQueueSid),
                QueryParam::init('TaskQueueName', $taskQueueName),
                QueryParam::init('EvaluateTaskAttributes', $evaluateTaskAttributes),
                QueryParam::init('RoutingTarget', $routingTarget),
                QueryParam::init('Ordering', $ordering),
                QueryParam::init('HasAddons', $hasAddons),
                QueryParam::init('PageSize', $pageSize),
                QueryParam::init('Page', $page),
                QueryParam::init('PageToken', $pageToken)
            );

        $_resHandler = $this->responseHandler()->type(ListTaskResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $workspaceSid The SID of the Workspace that the new Task belongs to.
     * @param int|null $timeout The amount of time in seconds the new task can live before being
     *        assigned. Can be up to a maximum of 2 weeks (1,209,600 seconds). The default value
     *        is 24 hours (86,400 seconds). On timeout, the `task.canceled` event will fire with
     *        description `Task TTL Exceeded`.
     * @param int|null $priority The priority to assign the new task and override the default. When
     *        supplied, the new Task will have this priority unless it matches a Workflow Target
     *        with a Priority set. When not supplied, the new Task will have the priority of the
     *        matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647).
     * @param string|null $taskChannel When MultiTasking is enabled, specify the TaskChannel by
     *        passing either its `unique_name` or `sid`. Default value is `default`.
     * @param string|null $workflowSid The SID of the Workflow that you would like to handle routing
     *        for the new Task. If there is only one Workflow defined for the Workspace that you
     *        are posting the new task to, this parameter is optional.
     * @param string|null $attributes A JSON string with the attributes of the new task. This value
     *        is passed to the Workflow's `assignment_callback_url` when the Task is assigned to a
     *        Worker. For example: `{ "task_type": "call", "twilio_call_sid": "CAxxx",
     *        "customer_ticket_number": "12345" }`.
     * @param \DateTime|null $virtualStartTime The virtual start time to assign the new task and
     *        override the default. When supplied, the new task will have this virtual start time.
     *        When not supplied, the new task will have the virtual start time equal to
     *        `date_created`. Value can't be in the future or before the year of 1900.
     * @param string|null $routingTarget A SID of a Worker, Queue, or Workflow to route a Task to
     * @param string|null $ignoreCapacity A boolean that indicates if the Task should respect a
     *        Worker's capacity and availability during assignment. This field can only be used
     *        when the `RoutingTarget` field is set to a Worker SID. By setting `IgnoreCapacity`
     *        to a value of `true`, `1`, or `yes`, the Task will be routed to the Worker without
     *        respecting their capacity and availability. Any other value will enforce the
     *        Worker's capacity and availability. The default value of `IgnoreCapacity` is `true`
     *        when the `RoutingTarget` is set to a Worker SID.
     * @param string|null $taskQueueSid The SID of the TaskQueue in which the Task belongs
     *
     * @return ApiResponse Response from the API call
     */
    public function createTask(
        string $workspaceSid,
        ?int $timeout = null,
        ?int $priority = null,
        ?string $taskChannel = null,
        ?string $workflowSid = null,
        ?string $attributes = null,
        ?\DateTime $virtualStartTime = null,
        ?string $routingTarget = null,
        ?string $ignoreCapacity = null,
        ?string $taskQueueSid = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/Workspaces/{WorkspaceSid}/Tasks')
            ->server(Server::DEFAULT4)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('WorkspaceSid', $workspaceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Timeout', $timeout),
                FormParam::init('Priority', $priority),
                FormParam::init('TaskChannel', $taskChannel),
                FormParam::init('WorkflowSid', $workflowSid),
                FormParam::init('Attributes', $attributes),
                FormParam::init('VirtualStartTime', $virtualStartTime)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                FormParam::init('RoutingTarget', $routingTarget),
                FormParam::init('IgnoreCapacity', $ignoreCapacity),
                FormParam::init('TaskQueueSid', $taskQueueSid)
            );

        $_resHandler = $this->responseHandler()->type(TaskRouterTask::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
