<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\VerificationCheck;
use TwilioApIsLib\Server;

class VerifyV2VerificationCheckApi extends BaseApi
{
    /**
     * challenge a specific Verification Check.
     *
     * @param string $serviceSid The SID of the verification
     *        [Service](https://www.twilio.com/docs/verify/api/service) to create the resource
     *        under.
     * @param string|null $code The 4-10 character string being verified.
     * @param string|null $to The phone number or [email](https://www.twilio.com/docs/verify/email)
     *        to verify. Either this parameter or the `verification_sid` must be specified. Phone
     *        numbers must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164).
     * @param string|null $verificationSid A SID that uniquely identifies the Verification Check.
     *        Either this parameter or the `to` phone number/[email](https://www.twilio.
     *        com/docs/verify/email) must be specified.
     * @param string|null $amount The amount of the associated PSD2 compliant transaction. Requires
     *        the PSD2 Service flag enabled.
     * @param string|null $payee The payee of the associated PSD2 compliant transaction. Requires
     *        the PSD2 Service flag enabled.
     * @param string|null $snaClientToken A sna client token received in sna url invocation response
     *        needs to be passed in Verification Check request and should match to get successful
     *        response.
     *
     * @return ApiResponse Response from the API call
     */
    public function createVerificationCheck(
        string $serviceSid,
        ?string $code = null,
        ?string $to = null,
        ?string $verificationSid = null,
        ?string $amount = null,
        ?string $payee = null,
        ?string $snaClientToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/Services/{ServiceSid}/VerificationCheck')
            ->server(Server::DEFAULT5)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('Code', $code),
                FormParam::init('To', $to),
                FormParam::init('VerificationSid', $verificationSid),
                FormParam::init('Amount', $amount),
                FormParam::init('Payee', $payee),
                FormParam::init('SnaClientToken', $snaClientToken)
            );

        $_resHandler = $this->responseHandler()->type(VerificationCheck::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
