<?php

declare(strict_types=1);

/*
 * TwilioApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TwilioApIsLib\Apis;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use TwilioApIsLib\Exceptions\V2ServicesVerifications429ErrorException;
use TwilioApIsLib\Http\ApiResponse;
use TwilioApIsLib\Models\Verification;
use TwilioApIsLib\Models\VerificationEnumRiskCheck;
use TwilioApIsLib\Server;

class VerifyV2VerificationApi extends BaseApi
{
    /**
     * Create a new Verification using a Service
     *
     * @param string $serviceSid The SID of the verification
     *        [Service](https://www.twilio.com/docs/verify/api/service) to create the resource
     *        under.
     * @param string $to The phone number or [email](https://www.twilio.com/docs/verify/email) to
     *        verify. Phone numbers must be in [E.164 format](https://www.twilio.
     *        com/docs/glossary/what-e164).
     * @param string $channel The verification method to use. One of:
     *        [`email`](https://www.twilio.com/docs/verify/email), `sms`, `whatsapp`, `call`,
     *        `sna` or `auto`.
     * @param string|null $customFriendlyName A custom user defined friendly name that overwrites
     *        the existing one in the verification message
     * @param string|null $customMessage The text of a custom message to use for the verification.
     * @param string|null $sendDigits The digits to send after a phone call is answered, for
     *        example, to dial an extension. For more information, see the Programmable Voice
     *        documentation of [sendDigits](https://www.twilio.
     *        com/docs/voice/twiml/number#attributes-sendDigits).
     * @param string|null $locale Locale will automatically resolve based on phone number country
     *        code for SMS, WhatsApp, and call channel verifications. It will fallback to English
     *        or the template’s default translation if the selected translation is not available.
     *        This parameter will override the automatic locale resolution. [See supported
     *        languages and more information here](https://www.twilio.com/docs/verify/supported-
     *        languages).
     * @param string|null $customCode A pre-generated code to use for verification. The code can be
     *        between 4 and 10 characters, inclusive.
     * @param string|null $amount The amount of the associated PSD2 compliant transaction. Requires
     *        the PSD2 Service flag enabled.
     * @param string|null $payee The payee of the associated PSD2 compliant transaction. Requires
     *        the PSD2 Service flag enabled.
     * @param array|null $rateLimits The custom key-value pairs of Programmable Rate Limits. Keys
     *        correspond to `unique_name` fields defined when [creating your Rate Limit](https:
     *        //www.twilio.com/docs/verify/api/service-rate-limits). Associated value pairs
     *        represent values in the request that you are rate limiting on. You may include
     *        multiple Rate Limit values in each request.
     * @param array|null $channelConfiguration [`email`](https://www.twilio.com/docs/verify/email)
     *        channel configuration in json format. The fields 'from' and 'from_name' are optional
     *        but if included the 'from' field must have a valid email address.
     * @param string|null $appHash Your [App
     *        Hash](https://developers.google.com/identity/sms-
     *        retriever/verify#computing_your_apps_hash_string) to be appended at the end of your
     *        verification SMS body. Applies only to SMS. Example SMS body: `<#> Your AppName
     *        verification code is: 1234 He42w354ol9`.
     * @param string|null $templateSid The message
     *        [template](https://www.twilio.com/docs/verify/api/templates). If provided, will
     *        override the default template for the Service. SMS and Voice channels only.
     * @param string|null $templateCustomSubstitutions A stringified JSON object in which the keys
     *        are the template's special variables and the values are the variables substitutions.
     * @param string|null $deviceIp Strongly encouraged if using the auto channel. The IP address of
     *        the client's device. If provided, it has to be a valid IPv4 or IPv6 address.
     * @param bool|null $enableSnaClientToken An optional Boolean value to indicate the requirement
     *        of sna client token in the SNA URL invocation response for added security. This
     *        token must match in the Verification Check request to confirm phone number
     *        verification.
     * @param string|null $riskCheck Risk_check overrides Fraud Prevention measures like Fraud
     *        Guard, Geo Permissions etc per verification attempt basis, allowing Verify to block
     *        traffic considered fraudulent if enabled or bypass active protections if disabled.
     *        Can be: `enable`(default) or `disable`. For SMS channel only.
     * @param string|null $tags A string containing a JSON map of key value pairs of tags to be
     *        recorded as metadata for the message. The object may contain up to 10 tags. Keys and
     *        values can each be up to 128 characters in length.
     *
     * @return ApiResponse Response from the API call
     */
    public function createVerification(
        string $serviceSid,
        string $to,
        string $channel,
        ?string $customFriendlyName = null,
        ?string $customMessage = null,
        ?string $sendDigits = null,
        ?string $locale = null,
        ?string $customCode = null,
        ?string $amount = null,
        ?string $payee = null,
        ?array $rateLimits = null,
        ?array $channelConfiguration = null,
        ?string $appHash = null,
        ?string $templateSid = null,
        ?string $templateCustomSubstitutions = null,
        ?string $deviceIp = null,
        ?bool $enableSnaClientToken = null,
        ?string $riskCheck = null,
        ?string $tags = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/Services/{ServiceSid}/Verifications')
            ->server(Server::DEFAULT5)
            ->auth('accountSid_authToken')
            ->parameters(
                TemplateParam::init('ServiceSid', $serviceSid)->required(),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('To', $to)->required(),
                FormParam::init('Channel', $channel)->required(),
                FormParam::init('CustomFriendlyName', $customFriendlyName),
                FormParam::init('CustomMessage', $customMessage),
                FormParam::init('SendDigits', $sendDigits),
                FormParam::init('Locale', $locale),
                FormParam::init('CustomCode', $customCode),
                FormParam::init('Amount', $amount),
                FormParam::init('Payee', $payee),
                FormParam::init('RateLimits', $rateLimits),
                FormParam::init('ChannelConfiguration', $channelConfiguration),
                FormParam::init('AppHash', $appHash),
                FormParam::init('TemplateSid', $templateSid),
                FormParam::init('TemplateCustomSubstitutions', $templateCustomSubstitutions),
                FormParam::init('DeviceIp', $deviceIp),
                FormParam::init('EnableSnaClientToken', $enableSnaClientToken),
                FormParam::init('RiskCheck', $riskCheck)
                    ->serializeBy([VerificationEnumRiskCheck::class, 'checkValue']),
                FormParam::init('Tags', $tags)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '429',
                ErrorType::init('Too Many Requests', V2ServicesVerifications429ErrorException::class)
            )
            ->type(Verification::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
